

 /* Sidebar/nav Elements*/
 header {
   z-index: 2;
   background-color: black;
   position: fixed;
   top: 4em;
   width:20em;
   left: -21em;
   border-top-right-radius: 25px;
   border-bottom-right-radius: 25px;
   box-shadow: 0px 5px 2px 1px black;
   -webkit-transition-duration: 0.35s;
   transition-duration: .35s;
 }
     header:hover {
       -webkit-transition-delay: 0.5s;
       transition-delay: .5s;
       -webkit-transition-duration: 0.35s;
       transition-duration: .35s;
       left:0;
     }
     header:hover .menu{
       -webkit-transition-duration: 0.35s;
       transition-duration: .35s;
     }
     header:hover .menu-title{
       color:white;
       opacity: 1;
       background: none;
       -webkit-transition-delay: 0.5s;
       transition-delay: .5s;
       -webkit-transition-duration: 0.35s;
       transition-duration: .35s;
     }

 nav ul {
   text-align: center;
   width: 75%;
   padding: 2em;
   margin-left: 4em;
   margin-right: 1em;
   background-image: linear-gradient(225deg, paleturquoise, palegoldenrod, aquamarine, orchid);
   box-shadow: inset 0 0 10px #000000;
 }

 nav li {
    list-style: none;
    display: block;
    margin: 0 auto;
 }

 .nav {
   display:block;
   width: 90%;
   margin-left: auto;
   margin-right: auto;
   background: white;
   text-decoration: overline;
   text-transform: uppercase;
   font-size: 1rem;
   font-weight: 900;
   color: black;
   border: 5px solid black;
   border-radius: 20px 20px 20px 0;
   padding: .7em;
   box-shadow: 8px 5px 1px 1px black;
   -webkit-transition-duration: 0.35s;
   transition-duration: .35s;
 }
  .nav:hover {
     color: white;
     background: black;
     box-shadow: -20px 5px 1px 1px white;
     -webkit-transition-duration: 0.35s;
     transition-duration: .35s;
}
.menu {
  display:block;
  position: fixed;
  left: .5em;
  top: 5em;
  float: right;
  width: 3em;
  height: 5.25em;
  background: black;
  line-height: 1px;
  padding: 1em;
  border-radius: 10px;
  border: 3px solid goldenrod;
  box-shadow: inset 0px 0px 10px 0px black;
  -webkit-transition-duration: 0.35s;
  transition-duration: .35s;
  opacity: .5;
}
.menu-title {
  display:block;
  color: grey;
  font-size: 23px;
  font-weight:600;
  font-variant: small-caps;
  position: fixed;
  left: 1.6em;
  top: 7.5em;
  float: right;
  transform-origin: left;
  transform: rotate(90deg);
  -webkit-transition-duration: 0.35s;
  transition-duration: .35s;
  background-color: white;
  border-radius: 5px;
  padding: .2em;
  opacity: .5;
}

.menu:hover .menu-hr {
  border-color: black;
  margin:2;
  vertical-align: middle;
  top:.5em;
  -webkit-transition-duration: 0.35s;
  transition-duration: .35s;
  opacity: 1;
}

.menu:hover {
  background: white;
  -webkit-transition-duration: 0.35s;
  transition-duration: .35s;
  opacity: 1;
}

.menu-hr {
  border-style:solid;
  position: relative;
  border-color: orange;
  top: -12px;
  border-width: 3px;
  -webkit-transition-duration: 0.5s;
  transition-duration: .5s;
}

/*Splash Area*/
.design-title {
  font-family: "Century Gothic", sans-serif;
	font-size: 46px;
  text-shadow: 2px 2px 2px grey;
	position:relative;
  margin-left: 2em;
	top:.75em;
  text-align: left;
  float: left;
  z-index: 0;
}
.design-header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
	border: 10px double white;
  box-shadow: inset 5px 5px 25px 12px;
	height: 15em;
  margin-top: 1em;
  margin-bottom: 2em;
  max-width: 1700px;
  }

/*Main Building Blocks*/
.card {
  padding: 20px;
  box-shadow: 10px 5px 25px 5px;
  margin-top: 1em;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
  background-size: 4em auto;
}
.card-link {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
}

.general-link {
  padding: .25em;
  padding-left: 2em;
  padding-right: 2em;
  position:relative;
  font-weight: 900;
  text-shadow: 1px 3px 4px black;
  font-size: 28px;
  text-align: center;
  font-variant: small-caps;
  color: orange;
  letter-spacing: 10px;
  background-image: url("https://www.transparenttextures.com/patterns/iron-grip.png");
  border: 5px ridge black;
  border-radius: 10px;
}
.general-link:hover {
  color:lavender;
  text-decoration: underline;
  background-color: white;
}
.inset {
  box-shadow: inset 0 0 10px #000000;
  position: relative;
  padding-top: .5em;
  padding-bottom: .5em;
  background-color: lavenderblush;
  width: 75%;
  left: 12.5%;
}
article {
  background-color: thistle;
}
article h3{
  color: aquamarine;
  text-shadow: 3px 3px 3px grey;
}

.column-main {
  max-width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-bottom: 5em;
}

* {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "Century Gothic", sans-serif;
  font-size: 18px;
  text-align: left;
  background-image:url("https://www.transparenttextures.com/patterns/wood.png");
  background-color: lightcyan;
}

p {
  font-family: "Century Gothic", sans-serif;
	font-size:20px;
	line-height:28px;
	margin-bottom:2em;
	margin-left:2em;
	margin-right:2em;
	margin-top:2em;
	text-align: justify;
	text-align-last: center;
}
h1 {
  position:relative;
  text-shadow: 3px 3px 3px grey;
  font-size: 24px;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: .5em;
  text-align: center;
  text-align-last: center;
  font-variant: small-caps;
  color: white;
  letter-spacing: 5px;
  line-height: 1.25;
  box-shadow: None;

}
h2 {
  position:relative;
  text-shadow: 3px 3px 3px grey;
  border-radius: 25px;
  background-color: none;
  font-size: 28px;
  margin-bottom: .5em;
  text-align: center;
  font-variant: small-caps;
  color: white;
  letter-spacing: 8px;
  box-shadow: None;
}

h3 {
  position:relative;
  text-shadow: 3px 3px 3px grey;
  border-radius: 25px;
  background-color: none;
  font-size: 28px;
  margin-bottom: .5em;
  text-align: center;
  font-variant: small-caps;
  color: white;
  letter-spacing: 8px;
  box-shadow: None;
}

h4 {
  font-weight: 400;
  text-align: left;
  font-variant: small-caps;
  font-size: 20px;
}

h5 {
  font-size: 18px;
  font-weight: 600;
  font-variant: small-caps;
  margin-left: -3em;
  color: black;
  text-shadow: 1px 2px 5px grey;
}

h6 {
  text-align: center;
  font-variant: small-caps;
  font-size: 18px;
  margin-top: .75em;
  font-weight: bolder;
}

footer {
  z-index: 1;
  display: block;
  text-align: center;
  position: fixed;
  bottom: -3em;
  height: 3em;
  width: 100%;
  background-color:dimgray;
  box-shadow: inset 2px 8px 10px 0px black;
  font-variant: small-caps;
  -webkit-transition-duration: 0.35s;
  transition-duration: .35s;
}
footer:hover {
  transform: translateY(-3em);
  -webkit-transition-duration: 0.25s;
  transition-duration: .25s;
  -webkit-transition-delay: .35s;
  transition-delay: .35s;
}
footer:hover .contact {
    background-color: darkslategray;
    -webkit-filter: invert(0);
    filter: invert(0);
}
.contact {
    height: 2.25em;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background: rgb(105, 105, 105);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: inset 0px 5px 10px 0px white;
    padding-top: 1em;
    padding-bottom: .5em;
    padding-left: 2em;
    padding-right: 2em;
    top: -2.22em;
    -webkit-transition-duration: 0.35s;
    transition-duration: .35s;
}
.contact:hover {
  background-color: black;
  -webkit-transition-duration: 0.35s;
  transition-duration: .35s;
}

.footer-content {
  color: white;
  display: block;
  position: relative;
  top: -5em;
  font-size: 12px;
}

.img-links {
  position: relative;
  vertical-align: middle;
  width: 95px;
  color: white;
  -webkit-filter: invert(1);
  filter: invert(1);
}

/* Here are portfoliopgs */
#items{
  overflow-x: scroll;
  width: 95%;
  display:block;
  margin-left: auto;
  margin-right: auto;
  }
.item{
  white-space: nowrap;
  scroll-behavior: smooth;
}
.portfoliopgs {
  text-align: center;
  font-variant: small-caps;
  font-size: 16px;
}
.leftbutton {
  float: left;
  margin-left: 10em;
  background: black;
  color:white;
  width: 18em;
  padding: 1em;
  border-radius: 12px;
  text-decoration: none;
  margin-bottom: 5em;
  box-shadow: 0 9px #999;
  cursor: pointer;
  -webkit-transition-duration: 0.25s;
  transition-duration: .25s;
}

.rightbutton {
  float: right;
  margin-right: 10em;
  background: black;
  color:white;
  width: 18em;
  padding: 1em;
  border-radius: 12px;
  text-decoration: none;
  margin-bottom: 5em;
  box-shadow: 0 9px #999;
  cursor: pointer;
  -webkit-transition-duration: 0.25s;
  transition-duration: .25s;
}
.rightbutton:hover {
  font-weight: 900;
  background: white;
  color: black;
  border: 1px solid black;
  box-shadow: 0 0px #999;
  transform:translateY(.5em);
  -webkit-transition-duration: 0.25s;
  transition-duration: .25s;
  }

.leftbutton:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  font-weight: 900;
  background: white;
  color: black;
  border: 1px solid black;
  box-shadow: 0 0px #999;
  transform:translateY(.5em);
  -webkit-transition-duration: 0.25s;
  transition-duration: .25s;
}

/* Resume Elements*/
.resume-dates {
  float: right;
  position: relative;
  text-align: center;
  font-size: 18px;
  top: .25em;
  font-variant: small-caps;
  margin-left: 1em;
  margin-right: -.15em;
}

.resume-description {
  font-weight: 500;
  list-style: circle;
  margin-left: 3em;
  margin-right: 3em;
  word-spacing: .15em;
  text-align: left;
  text-shadow: 1px 2px 3px grey;
}



/*images etc */
.square-logo {
	float:right;
	position: relative;
	height: 10em;
	right: 2em;
	top: 2em;
  z-index: 4;
  border-radius: 50px;
  box-shadow: 2px 5px 10px 3px;
}

.aboutme-rutgerslogo {
  border-radius: 0px;
  display: block;
  float: left;
  z-index: 0;
  margin-right: 1em;
  margin-left: -8em;
  box-shadow: 1px 1px 10px 1px;
  width: 8em;
  border-radius: 15px;
  border-top-right-radius: 0px;
}

.aboutme-gwlogo {
  border-radius: 0px;
  display: block;
  float: left;
  z-index: 0;
  margin-right: 1em;
  margin-left: -6em;
  box-shadow: 1px 1px 10px 1px;
  width: 6em;
  background:white;
  border: .25em solid white;
  border-radius: 15px;
  border-top-right-radius: 0px;
}
.look-button {
  display: block;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .5em;
  -webkit-transition-duration: .25s;
  transition-duration: .25s;
}
.look-button:hover {
  -webkit-filter: invert(1);
  filter: invert(1);
  transform: scale(1.1);
  -webkit-transition-duration: .25s;
  transition-duration: .25s;
}

/* Screen Compatibility*/
@media screen and (max-width: 800px) {
  .column-main {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .menu {
    display:block;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    top:-.75em;
    left: 1.75em;
    transform: rotate(90deg);
    opacity: .75;
  }
    .menu-title {
    top: .65em;
    left: 4.6em;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: .2em;
    padding-right: .5em;
    transform: rotate(0);
    text-align: center;
    background-color: white;
    opacity: .75;
  }
  header:hover .menu-title{
    color:white;
    background-color: black;
    -webkit-transition-delay: .5s;
    transition-delay: .5s;
      opacity: 1;
  }

  header:hover .menu{
        -webkit-transition-delay: .5s;
        transition-delay: .5s;
          opacity: 1;
  }
  .card {
    margin-left: 0em;
    margin-right: 0em;
    padding-left: 0;
    padding-right: 0;
  }
  p {
    margin-left: 1em;
    margin-right: 1em;
  }
  header {
    width:100%;
    left: -101%;
    top: 2.75em;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  h1,h2,h3,h4 {
    margin-left: .75em;
    margin-right: .75em;

  }
  h5 {
    margin-left: -.5em;
    margin-right: .75em;

  }
  .design-header {
    margin-top: 5em;
    width:90%;
    display: flex;
  }
  .design-title {
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: .75em;
    font-size: 41px;
  }
  .square-logo {
    display: none;
  }
  nav ul {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    }
  nav li {
    margin-bottom: 1em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .general-link {
    width: 75%;
    letter-spacing: .5;
  }
  .aboutme-rutgerslogo {
    display: none;
  }

  .aboutme-gwlogo {
    display: none;
  }
  .inset {
    width: 95%;
    left: 2.5%;
  }
  .resume-description {
    margin-left: 1em;
    margin-right: 1em;
  }
  .leftbutton {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    float: none;
  }
  .rightbutton {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    float: none;
  }
  footer {
    position:relative;
    box-shadow: none;
    background-color: black;
    line-height:2em;
    padding-top: 1em;
    margin:auto;
    width:100%;
    height: auto;
  }
  footer:hover {
    transform: none;
  }
  .footer-content {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .contact {
      display: none;
  }
  .look-button {
      width: 50%;
  }
}
