

 /* Sidebar/nav Elements*/
 .menu-button {
   z-index: 2;
   background-color: black;
   position: fixed;
   top: 5%;
   width:20em;
   left: -21em;
   border-top-right-radius: 25px;
   border-bottom-right-radius: 25px;
   box-shadow: 0px 5px 2px 1px black;
   -webkit-transition-duration: 0.1s;
   transition-duration: .1s;
 }
 .header {
   z-index: 2;
   position: fixed;
   background-color: RGB(128,128,128,.75);
   top: 5%;
   width:20em;
   left: -21em;
   -webkit-transition-duration: 0.1s;
   transition-duration: .1s;
 }
     .menu-open .header {
       -webkit-transition-duration: 0.2s;
       transition-duration: .2s;
       left:0;
     }
     .menu-open .menu {
       background-color: white;
       opacity: 1;
       padding-right:0;
       padding-left: 1;
       padding-bottom: 1.5em;
       -webkit-transition-duration: 0.2s;
       transition-duration: .2s;
     }
     .menu-open .menu-title{
       color:white;
       opacity: 1;
       -webkit-transition-duration: 0.2s;
       transition-duration: .2s;
     }
     .menu-open .menu .hr1 {
       border-color: maroon;
       background-color: maroon;
       transform-origin: left;
       transform:  translate(3px, 2px) rotate(45deg);
       margin:0;
       width: 3em;
       height: .4em;
       -webkit-transition-duration: 0.1s;
       transition-duration: .1s;
       opacity: 1;
     }
     .menu-open .menu .hr2 {
      opacity: 0;
      -webkit-transition-duration: 0.1s;
      transition-duration: .1s;
     }
     .menu-open .menu .hr3 {
       border-color: maroon;
       background-color: maroon;
       transform-origin: right;
       transform: translate(-8px, -18px) rotate(-45deg);
       margin:0;
       width:3em;
       height: .4em;
       -webkit-transition-duration: 0.1s;
       transition-duration: .1s;
       opacity: 1;
     }

 nav {
   text-align: center;
   width: 100%;
   height: 100%;
   padding: 2em;
   padding-left: 5em;
   margin-left: 0em;
   box-shadow: 0 0 10px #000000;
 }

 nav a {
    list-style: none;
    display: block;
    margin: 0 auto;
 }

 .nav {
   display:block;
   width: 90%;
   margin-left: auto;
   margin-right: auto;
   background: white;
   text-decoration: overline;
   text-transform: lowercase;
   font-size: 20px;
   color: black;
   border-radius: 20px 20px 20px 0;
   padding: .7em;
   box-shadow: 8px 5px 1px 1px black;
   -webkit-transition-duration: 0.35s;
   transition-duration: .35s;
 }
  .nav:hover {
     color: white;
     background: black;
     box-shadow: -20px 5px 1px 1px white;
     -webkit-transition-duration: 0.35s;
     transition-duration: .35s;
}
.menu {
  display:block;
  cursor:pointer;
  position: fixed;
  left: 1%;
  top: 2.5%;
  color: black;
  background: orange;
  line-height: 1px;
  padding: .5em;
  border-radius: 10px;
  border: 3px solid black;
  box-shadow: inset 0px 0px 10px 0px black;
  -webkit-transition-duration: 0.1s;
  transition-duration: .1s;
  opacity: 1;
  animation-name: menu;
  animation-duration: 2s;
  animation-delay: 0s;
  -webkit-animation-name: menu;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 0s;
}

.menu:hover {
  color: black;
  background-color: white;
  opacity: 1;
  -webkit-transition-duration: 0.1s;
  transition-duration: .1s;
}

.menu-title {
  writing-mode: vertical-lr;
  position:fixed;
  top:10%;
  justify-content: center;
  left: 1%;
  color: black;
  font-size: 48px;
  border-radius: 5px;
  -webkit-transition-duration: 0.2s;
  transition-duration: .2s;
  opacity: 1;
  user-select: none;
  -webkit-user-select: none;

}

.menu .hr1,.hr2,.hr3{
  margin-top:6px;
  margin-bottom:6px;
  margin-left: auto;
  margin-right: auto;
  width: 2em;
  border-style:solid;
  color: inherit;
  border-radius: 50px;
  border-width: 2px;
  -webkit-transition-duration: 0.1s;
  transition-duration: .1s;
}

/*Splash Area*/
.design-title {
  font-family: "Century Gothic", sans-serif;
	font-size: 46px;
  text-transform: lowercase;
  width:100%;
	position:relative;
  text-align: right;
  top:.5em;
  float: right;
  z-index: 0;
  animation-name: name;
  animation-duration: 1s;
  animation-delay: 0s;
  -webkit-animation-name: name;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 0s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.design-title1 {
  font-size: 30px;
  letter-spacing: 10px;
  color: white;
  background-color: steelblue;
  border-radius: 5px;
  box-shadow: inset 1px 1px 5px 1px black;
  padding-left: 1em;
  padding-right: .5em;
  padding-top: .25em;
  padding-bottom: .25em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.design-title2 {
  font-size: 30px;
  letter-spacing: 10px;
  color: white;
  background-color: steelblue;
  border-radius: 5px;
  box-shadow: inset 1px 1px 5px 1px black;
  padding-left: 1em;
  padding-right: .5em;
  padding-top: .25em;
  padding-bottom: .25em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.matterhorn-title {
	position:absolute;
  font-size: 15px;
  width:100%;
  text-align: right;
  letter-spacing: 5px;
  color: white;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  top: -1em;
  right: 1em;
  opacity: .5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes name {
  0%   {top:-5em}
  100% {top:.5em}
}
@-webkit-keyframes name {
  0%   {top:-5em}
  100% {top:.5}
}

.design-header {
  display: block;
  position:relative;
  z-index:1;
  background-image: url("/img/matterhorn.jpg");
  background-size:100% auto;
  background-position:center 25%;
  background-clip: padding-box;
  background-blend-mode:luminosity;
  background-color: lavender;
  background-repeat: no-repeat;
  border-bottom: 6px white solid;
  border-radius: 15px;
  border-left: 2px white solid;
  border-right: 2px white solid;
  box-shadow: inset 0px 0px 20px 10px black;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
	height: 15em;
  margin-bottom: 1em;
  margin-top: .75em;
  max-width: 1500px;
  animation-name: matterhorn;
  animation-duration: 3s;
  animation-delay: 0s;
  }
.header-hr {
  float: left;
  position: absolute;
  margin-top: 0;
  width:100%;
  top:0;
  z-index: 1;
  height: 17em;
  background-image: linear-gradient(to right, rgb(0,0,0,.5) 0%, rgb(143,188,143,.5) 7.5%,rgb(143,188,143,.5) 92.5%, rgb(0,0,0,0) 100%););
  box-shadow: 0px 0px 20px 5px rgb(0,0,0,.75);
}

@keyframes matterhorn {
  0% {background-color: white;}
  25%{background-color: white;}
  100% {background-color: none;}
}
@-webkit-keyframes matterhorn {
  0% {background-color: white;}
  25%{background-color: white;}
  100% {background-color: none;}
}

/*Main Building Blocks*/
.card {
  padding: 20px;
  margin-top: 1em;
  border-radius: 10px;
  border-top: 5px double black;
  border-bottom: 5px double black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  box-shadow: 0px 0px 10px 1px;
  background-image: linear-gradient(to right,white 0%, rgba(0,0,0,0) 2.5%, rgba(0,0,0,0) 97.5%,white 100%), url("arches.png");
  background-size: auto auto, 1em 100em;
}

.show {
  display:none;
}

.card-quarter-left {
  display: block;
  position: relative;
  width: 48%;
  box-shadow: 0px 0px 10px 1px;
  border-top: 5px double black;
  border-bottom: 5px double black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  margin-top: 1em;
  margin-right: .5em;
  margin-bottom: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  height: 38em;
  background-color:  lightblue;
  background-image: linear-gradient(to right,white 0%, rgba(0,0,0,0) 2.5%, rgba(0,0,0,0) 97.5%,white 100%), url("arches.png");
  background-size: auto auto, 1em 100em;
}
.card-quarter-right {
  display: block;
  position: relative;
  float:right;
  width: 48%;
  box-shadow: 0px 0px 10px 1px;
  border-top: 5px double black;
  border-bottom: 5px double black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  margin-top: 1em;
  margin-left: .5em;
  margin-bottom: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  height: 38em;
  background-color: tan;
  background-image: linear-gradient(to right,white 0%, rgba(0,0,0,0) 2.5%, rgba(0,0,0,0) 97.5%,white 100%), url("arches.png");
  background-size: auto auto, 1em 100em;
}
.card-link {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
}
.leftside {
  display: block;
  position: fixed;
  float: left;
  z-index: 0;
  left:0;
  background-image:repeating-linear-gradient(antiquewhite, grey .25%, antiquewhite .5%);
  border-right: 2px dashed grey;
  height: 100%;
  width: 7vw;
  top:0%
}

.rightside {
  display: block;
  position: fixed;
  float: right;
  z-index: 0;
  right:0;
  background-image:repeating-linear-gradient(antiquewhite, grey .25%, antiquewhite .5%);
  height: 100%;
  width: 7vw;
  top:0%;
  border-left: 2px dashed grey;
}

.general-link {
  display: flex;
  justify-content: center;
  background: none;
  font-weight: bold;
  font-size: 24px;
  text-shadow: 3px 3px 5px aqua;
  font-variant: small-caps;
  letter-spacing: 10px;
  color: white;
  border-top: 4px aqua solid;
  border-left: 1px aqua solid;
  border-right: 1px aqua solid;
  border-radius:15px;
  box-shadow: -5px -5px 20px 10px white;
  width: 66%;
  padding: .25em;
  padding-left: 2em;
  padding-right: 2em;
  margin-left: auto;
  margin-right: auto;
  }
.general-link:hover {
  color: black;
  border-color: black;
  text-shadow: 0px 0px 5px orange;
  box-shadow: inset 1px 1px 5px 1px black;
  text-decoration: overline;
  text-emphasis-position: above;
  }

#juxtapose-wrapper:hover img {
  filter:blur(0px) saturate(120%);
  -webkit-transition-duration: 2s;
  transition-duration: 2s;
  }

#juxtapose-wrapper img {
  filter:blur(1.5px) saturate(300%);
  -webkit-transition-duration: 0.25s;
  transition-duration: .25s;
}
.column-main hr {
  background-clip: padding-box;
  background-image: url("iron-grip.png");
  background-size: 20em 25em;
  background-color: teal;
  height: 2.5em;
  margin-top: 5em;
  border-left: 1em black solid;
  border-right: 1em black solid;
  box-shadow: inset 0 0 10px #000000;
  }
article {
  background-color: silver;
}
article h3{
  color: aquamarine;
  text-transform: lowercase;
  text-shadow: 3px 3px 3px grey;
}

.column-main {
  max-width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-bottom: 2.5em;
}

* {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "Century Gothic", sans-serif;
  font-size: 18px;
  background-image: url("wood.png");;
  background-color: antiquewhite;
  background-size:1em 100em;
}

p {
  font-family: "Century Gothic", sans-serif;
	font-size:20px;
	line-height:28px;
	margin-bottom:1em;
	margin-left:1.5em;
	margin-right:1.5em;
	margin-top:1em;
	text-align: justify;
	text-align-last: center;
}

span.left{
  display: block;
  position: relative;
  text-align: center;
  top:0em;
  left: 0%;
  width: 50%;
  line-height: 1.5;
  font-weight: bolder;
}
span.right{
  display: block;
  position: relative;
  text-align: center;
  font-weight: bolder;
  top:-4.5em;
  right:-50%;
  width: 50%;
  line-height: 1.5;
}
h1 {
  position:relative;
  text-shadow: 3px 3px 3px grey;
  font-size: 24px;
  font-weight: lighter;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: .5em;
  text-align:justify;
  text-align-last: center;
  color: white;
  letter-spacing: 2px;
  line-height: 1.5;
  box-shadow: None;
}
h2 {
  position:relative;
  text-shadow: 3px 3px 3px grey;
  border-radius: 25px;
  background-color: none;
  font-size: 28px;
  margin-bottom: .5em;
  text-align: center;
  text-transform: lowercase;
  color: white;
  letter-spacing: 8px;
  box-shadow: None;
}

h3 {
  position:relative;
  text-shadow: 3px 3px 3px grey;
  border-radius: 25px;
  background-color: none;
  font-size: 28px;
  margin-bottom: .5em;
  text-align: center;
  color: white;
  letter-spacing: 8px;
  box-shadow: None;
}

h4 {
  font-weight: 400;
  text-align: left;
  font-variant: small-caps;
  font-size: 20px;
  margin-left:1.5em;
  margin-right:1.5em;
}

h5 {
  font-size: 18px;
  font-weight: 600;
  font-variant: small-caps;
  margin-left: -3em;
  color: black;
  letter-spacing: 1.25;
  text-shadow: 1px 2px 5px grey;
}

h6 {
  text-align: center;
  font-size: 18px;
  margin-top: .75em;
  font-weight: bolder;
}

.footer {
  z-index: 1;
  display: block;
  text-align: center;
  position: fixed;
  bottom: -3em;
  height: 3em;
  width: 100%;
  background-color:dimgray;
  box-shadow: inset 2px 8px 10px 0px black;
  -webkit-transition-duration: 0.35s;
  transition-duration: .35s;
}

.contact-open .footer {
  transform: translateY(-3em);
  -webkit-transition-duration: 0.25s;
  transition-duration: .25s;
}
.footer:hover .contact {
    background-color: darkslategray;
    -webkit-filter: invert(0);
    filter: invert(0);
}
@media screen and (min-width: 800px) {
  #doublebar span {
    display: none;
  }
  #doublebar:before {
    content: " ║ ";
  }
  #doublebar2 span {
    display: none;
  }
  #doublebar2:before {
    content: " ║ ";
  }
}

.contact {
    height: 2.25em;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background: rgb(105, 105, 105);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: inset 0px 5px 10px 0px white;
    padding-top: 1em;
    padding-bottom: .5em;
    padding-left: 2em;
    padding-right: 2em;
    top: -2.22em;
    -webkit-transition-duration: 0.35s;
    transition-duration: .35s;
}
.contact:hover {
  background-color: black;
  -webkit-transition-duration: 0.35s;
  transition-duration: .35s;
}

.footer-content {
  color: white;
  display: block;
  vertical-align: baseline;
  position: relative;
  top: -5em;
  font-size: 12px;
}

.img-links {
  position: relative;
  vertical-align: middle;
  width: 95px;
  color: white;
  -webkit-filter: invert(1);
  filter: invert(1);
}
.other-links:hover {
  color: aquamarine;
  cursor:pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition-duration: 0.25s;
  transition-duration: .25s;
}
.show-hide {
  display:block;
  width:100%;
  font-size: 20px;
  color:grey;
  text-shadow: none;
  position: absolute;
  line-height: .5;
  float: left;
  margin-left: auto;
  margin-right: auto;
  cursor:pointer;
  -webkit-transition-duration: 0.25s;
  transition-duration: .25s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.other-links:hover .show-hide {
  display:block;
  color:inherit;
  text-decoration: overline;
  width:100%;
  position: absolute;
  line-height: .5;
  float: left;
  margin-left: auto;
  margin-right: auto;
  cursor:pointer;
  -webkit-transition-duration: 0.25s;
  transition-duration: .25s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.image {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  border: 5px gray solid;
}
.portfoliopg {
  display: block;
  position:relative;
  padding-top: .1em;
  background-color: dimgrey;
  border-radius:10px;
  width: 100%;
  height: 11em;
}
.portfoliopg figcaption {
  display:table-row;
  position:relative;
  top: -1.5em;
  left:-13%;
  float: left;
  z-index: 1;
  width:4%;
  cursor: pointer;
  text-align: center;
  padding: .1px;
  font-size: 24px;
  border-radius: 100px;
  border:1px solid white;
  background: black;
  color:white;
  text-shadow: 1px 1px 3px;
}
.portfoliopg img {
  width:21%;
  z-index:1;
  float: left;
  cursor:pointer;
  margin-top:5px;
  border-radius: 5px;
  filter:grayscale(1);
  user-select: none;
  -webkit-user-select: none;
}
.portfoliopg figure:hover img{
  border-color: orange;
  filter:grayscale(0);
}
.portfoliopg figure:hover figcaption{
  color: orange;
  background-color: white;
  border-color:orange;
}

#showcase {
  border-top: 4px aqua solid;
  border-left: 2px aqua solid;
  border-right: 2px aqua solid;
  border-radius:15px;
  box-shadow: -2px -2px 10px 5px;
  cursor: zoom-in;
  overflow: scroll;
}
#showcase1,#showcase2,#showcase3,#showcase4 {
  border-top: 4px aqua solid;
  border-left: 2px aqua solid;
  border-right: 2px aqua solid;
  border-radius:15px;
  box-shadow: -2px -2px 10px 5px;
  cursor: zoom-in;
  overflow: scroll;
  display: none;
}
.showcase-zoom {
  cursor: zoom-out;
  transform: scale(1.5);
  overflow:scroll;
  z-index: 1;
}
.leftbutton {
  text-align:center;
  float: left;
  background: black;
  color:white;
  width: 45%;
  padding: 1em;
  border-radius: 12px;
  text-decoration: none;
  margin-bottom: 5em;
  box-shadow: 0 9px #999;
  cursor: pointer;
  -webkit-transition-duration: 0.25s;
  transition-duration: .25s;
}

.rightbutton {
  float: right;
  background: black;
  color:white;
  width: 45%;
  padding: 1em;
  border-radius: 12px;
  text-decoration: none;
  text-align: center;
  margin-bottom: 5em;
  box-shadow: 0 9px #999;
  cursor: pointer;
  -webkit-transition-duration: 0.25s;
  transition-duration: .25s;
}
.rightbutton:hover {
  font-weight: 900;
  background: white;
  color: black;
  border: 1px solid black;
  box-shadow: 0 0px #999;
  transform:translateY(.5em);
  -webkit-transition-duration: 0.25s;
  transition-duration: .25s;
  }

.leftbutton:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  font-weight: 900;
  background: white;
  color: black;
  border: 1px solid black;
  box-shadow: 0 0px #999;
  transform:translateY(.5em);
  -webkit-transition-duration: 0.25s;
  transition-duration: .25s;
}

.resume-description {
  list-style: circle;
  list-style-position:inside;
  margin-left: 2em;
  margin-right: 2em;
  word-spacing: .15em;
  text-align: left;
}

/*images etc */
.square-logo {
	float:right;
  display: none;
	position: relative;
	height: 10em;
	right: 2em;
	top: 2em;
  z-index: 4;
  border-radius: 50px;
  box-shadow: 2px 5px 10px 3px;
}

.look-button {
  display: block;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .5em;
  -webkit-transition-duration: .25s;
  transition-duration: .25s;
}
.look-button:hover {
  -webkit-filter: invert(1);
  filter: invert(1);
  transform: scale(1.1);
  -webkit-transition-duration: .25s;
  transition-duration: .25s;
}

/* Screen Compatibility*/
@media screen and (max-width: 800px) {
  .column-main {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .menu {
    display:block;
    position: fixed;
    top:0;
    margin-left: 10px;
    margin-right: auto;
    transform: rotate(-90deg);
    opacity: .75;
  }
  .menu-title {
    top: -.95em;
    left:2.25em;
    border-radius:5px;
    transform: rotate(-90deg);
    opacity: .75;
  }
  .card {
    margin-left: 0em;
    margin-right: 0em;
    border-right: 0px;
    border-left: 0px;
    padding-left: 0;
    padding-right: 0;
  }
  .card-quarter-left,.card-quarter-right{
    width:100%;
    float: none;
    border-right: 0px;
    border-left: 0px;
    margin-left: 0em;
    margin-right: 0em;
    padding-left: 1em;
    padding-right: 1em;
    height:auto;
  }
  .leftside {
    display: none;
  }
  .rightside {
    display:none;
  }
  p {
    margin-left: .75em;
    margin-right: .75em;
  }
  .header {
    width:100%;
    left: -101%;
    top: 2.55em;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  h1,h2,h3,h4 {
    margin-left: .5em;
    margin-right: .5em;
    text-align: center;
    line-height: 1.25;
  }
  .design-header {
    width:100%;
    border-radius: 0;
    border-right: 0px;
    border-left: 0px;
    margin-top:4em;
    display: flex;
    background-size: 100%;
    background-image: url("/img/matterhorn-1.jpg");
  }
  .design-title {
    display: block;
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: .75em;
    font-size: 41px;
    top: .5em;
    animation-name: none;
    -webkit-animation-name: none;
  }
  .design-title1 {
    letter-spacing: 5px;
    font-size: 24px;
  }
  .design-title2 {
    letter-spacing: 5px;
    font-size: 24px;
  }
  .header-hr {
    width:100%;
    top:0;
    z-index: 1;
    background-image: none;
    background-color:rgb(143,188,143);
  }
  .square-logo {
    display: none;
  }
  nav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    }
  nav a {
    margin-bottom: 1em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .general-link {
    width: auto;
    margin:.5em;
    font-size: 18px;
  }
  .resume-description {
    margin-left: 1em;
    margin-right: 1em;
  }
  .leftbutton {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    float: none;
  }
  .rightbutton {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    float: none;
  }
  .footer {
    position:relative;
    box-shadow: none;
    background-color: black;
    line-height:2em;
    padding-top: 1em;
    margin:auto;
    width:100%;
    height: auto;
  }
  .footer:hover {
    transform: none;
  }
  .footer-content {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .contact {
      display: none;
  }
  .look-button {
      width: 50%;
  }
  span.left{
    display:inline-block;
    position: inherit;
    text-align: center;
    top:none;
    width: 100%;
    line-height: 1.5;
    font-weight: bolder;
    margin-bottom: 1em;
  }
  span.right{
    display: inline-block;
    position:inherit;
    text-align: center;
    font-weight: bolder;
    top:none;
    right:none;
    width: 100%;
    line-height: 1.5;
    margin-bottom: 1em;
  }
  .slider-button {
    display:block;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .portfoliopg {
    height: 5em;
  }
  .portfoliopg figcaption {
    font-size: 18px;
  }
  #showcase,#showcase1,#showcase2,#showcase3,#showcase4 {
    border: none;
    border-radius: 0px;
  }
}
