@import url("https://use.typekit.net/swe7vic.css");
#header {
  z-index: 99;
  display: grid;
  grid-template-columns: 4fr 40fr 60fr 4fr;
  grid-template-rows: 2vh 10.5vh 10.5vh 2vh;
  grid-column-gap: 0;
  grid-row-gap: 0;
  width: 100%;
  max-width: 100vw;
  height: 25vh;
  justify-content: center;
  top:0;
  margin: 0;
  padding-bottom: 1vh;
  background-image: url("iron-grip.png");
  background-size: 10em 10em;
  background-color: dimgray;
  box-shadow: inset 0px 0px 20px 0px black;
  }
.matterhorn {
  grid-area: 2 / 3 / span 1 / span 1;
  vertical-align: top;
  width:100%;
  border-radius: 10px;
  animation-name: matterhorn;
  animation-duration: 3s;
  animation-delay: 0s;
}
.matterhorn img {
  object-position: center 22%;
  object-fit: cover;
  width:100%;
  height: 100%;
  opacity: .75;
  border: .2vw inset aquamarine;
  border-radius: 0px 10px 10px 10px;
  box-shadow: 0px 15px 20px -10px black;
}
@keyframes matterhorn {
  0% {background-color: white;}
  25% {background-color: white;}
  100% {background-color: none;}
}
.design-title1 {
  grid-area: 3 / 1 / span 1 / span 4;
  font-family: "Century Gothic", sans-serif;
  color: #fff!important;
  -webkit-text-fill-color: rgba(260, 260, 260, 1);  text-align: center;
  font-weight: bolder;
  text-transform: lowercase;
  user-select: none;
  font-size: 7vw;
  line-height: 0vh;
  letter-spacing: .5vw;
  text-shadow: 1px 1px 10px lightyellow;
  align-self: center;
  animation-name: name;
  animation-duration: 1s;
  animation-delay: 0s;
  -webkit-animation-name: name1;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 0s;
  -webkit-transition-duration:.35s;
  transition-duration: .35s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
@keyframes name {
  0%   {opacity: 0;color:salmon}
  50% {opacity: 1;color:tan}
}
-webkit-@keyframes name1 {
  0%   {opacity: 0;color:salmon}
  50% {opacity: 1;color:tan}
}
.design-title2 {
  grid-area: 2 / 2 / span 1 / span 1;
  color:black;
  align-self:top;
  font-family: inherit;
  text-align: center;
  text-transform: lowercase;
  font-size: 1.5vh;
  max-height: 3em;
  background-color: rgba(0, 255, 191,1);
  background-image: url("iron-grip.png");
  background-size: 10em 10em;
  padding-left: 1vw;
  padding-right: 1vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: .2vw inset aquamarine;
  border-right: none;
  border-radius: 100px 0 0 100px;
  box-shadow: 0px 15px 20px -5px black;
}
#topnav {
  display: grid;
  grid-template-columns: 0fr 100fr 0fr;
  grid-template-rows: 9vh auto;
  width:100%;
  max-width:100vw;
  height: 15vh;
  padding: 0;
  margin: 0;
}
#topnav ul {
  grid-column: 1/span all;
  grid-row: 1;
  display: flex;
  list-style: none;
  z-index: 99;
  justify-content:center;
  text-align: center;
  border: 0px black inset;
  border-width: 2.5px 0px 2.5px 0px;
  height: 100%;
  margin: unset;
  padding: .05em;
  background-color: rgba(250,200,200,.75);
  background-image: url("iron-grip.png");
  background-size: 10em 10em;
  box-shadow: 0px 0px 10px 1px;
  -webkit-transition-duration:.35s;
  transition-duration: .35s;
}
#topnav li.nav-item{
  display: flex;
  flex-direction: row;
  list-style: none;
  -webkit-transition-duration:.35s;
  transition-duration: .35s;
  width: 23vw;
  margin: .1em;
  text-decoration:none;
  text-transform: lowercase;
  overflow: hidden;
}
#topnav li .nav-link {
  cursor: pointer;
  display: flex;
  padding: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  background-image: radial-gradient(white 0%,white 50%, gray 100%);
  width: 100%;
  text-transform: lowercase;
  color: black;
  border: .5px black solid;
  border-radius: 20px 20px 20px 20px;
  box-shadow: none;
  -webkit-transition-duration: 0.35s;
  transition-duration: .35s;
}
#topnav .nav-link:hover, #dropdown-title:hover,#dropdown-title-btn:hover{
  color: white;
  text-shadow: 1px 1px 8px lightyellow;
  background-image: url("iron-grip.png"),radial-gradient(dimgray 0%,dimgray 50%, black 100%);
  background-size: 10em 10em,auto;
  background-blend-mode:hard-light;
  background-color: dimgray;
  border-color: grey;
}
#topnav:before {
 grid-column: 1/span 1;
 grid-row: 2/span 1;
 content: "";
 height:0;
 width: 0;
 z-index: 99;
 margin-right: auto;
 margin-left: 1vw;
 border-top: 3vw solid black;
 border-left:2vw solid transparent;
}
#topnav:after {
 grid-column: 3/span 1;
 grid-row: 2/span 1;
 content: "";
 height:0;
 width: 0;
 z-index: 99;
 margin-left: auto;
 margin-right: 1vw;
 border-top: 3vw solid black;
 border-right: 2vw solid transparent;
}
#dropdown-title {
  cursor: pointer;
  display: flex;
  width: 75%;
  justify-content: center;
  background: white;
  background-image: radial-gradient(white 0%,white 50%, gray 100%);
  text-align: center;
  text-transform: lowercase;
  color: black;
  border: .5px black solid;
  border-width: .5px 0px .5px .5px;
  border-radius: 20px 0px 0px 20px;
  -webkit-transition-duration: 0.35s;
  transition-duration: .35s;
}
#dropdown-title-btn {
  cursor: pointer;
  display: flex;
  width: 25%;
  justify-content: center;
  background-image: radial-gradient(circle,rgba(250,200,200) 0%, rgba(100,0,0) 100%);
  color: white;
  border: 2px black solid;
  border-width: .5px .5px .5px 0px;
  border-radius: 0px 20px 20px 0px;
  -webkit-transition-duration: 0.35s;
  transition-duration: .35s;
}
#dropdown {
  z-index: 98;
  list-style: none;
  background: unset;
  background-image:url("iron-grip.png"), linear-gradient(to right,rgba(250,200,200,.5) 0%, rgba(250,200,200,.75) 10%, rgba(250,200,200,.75) 90%,rgba(250,200,200,.5) 100%);
  -webkit-background-image:url("iron-grip.png"), -webkit-linear-gradient(to right,rgba(260,260,260,.25) 0%, rgba(260,260,260,.75) 10%, rgba(260,260,260,.75) 90%,rgba(260,260,260,.25) 100%);
  background-size: 10em 10em,auto auto;
  box-shadow: 0px 0px 10px 1px;
  border: none;
  border-radius: 12px;
  -webkit-transition-duration:.35s;
  transition-duration: .35s;
}
#dropdown a {
  cursor: pointer;
 z-index: 98;
 width: auto;
 display: flex;
 justify-content:center;
 align-self: stretch;
 align-items: flex-end;
 margin:.5em;
 background: white;
 text-transform: lowercase;
 color: black;
 border-radius: 12px 0px 12px 0px;
 box-shadow: 0px 0px 5px 1px black;
 padding: .5em;
 -webkit-transition-duration: 0.35s;
 transition-duration: .35s;
}
#dropdown a:hover {
  color:red;
  background-color: mistyrose;
  box-shadow: inset 0px 0px 1px 0px black;
  -webkit-transition-duration: 0.35s;
  transition-duration: .35s;
}
#topnav .active:first-child,#dropdown .dropdown-item.active {
  color: white;
  text-shadow: 1px 1px 8px lightyellow;
  background-image: url("iron-grip.png"),radial-gradient(dimgray 0%,dimgray 50%, black 100%);
  background-size: 10em 10em,auto;
  background-blend-mode:hard-light;
  background-color: dimgray;
  border-color: grey;
}
#topnav.sticky {
 position: fixed;
 z-index: 98;
 top: 4.5vh;
 width:100%;
 -webkit-transition-duration:.35s;
 transition-duration: .35s;
}
.stickytitle {
  z-index: 99;
  grid-area:unset;
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
  position: fixed;
  left:0;
  text-align: center;
  background-color: rgba(250,200,200,.75);
  background-image: url("iron-grip.png");
  background-size: 10em 10em;
  color:#fff!important;
  -webkit-text-fill-color: white;
  line-height: 4vh;
  letter-spacing: .25em;
  padding: 0;
  padding-top: .2em;
  font-size: 6vw;
  top: -.2em;
  text-shadow: 2.5px 2.5px 1px red;
  border-bottom: 5px solid dimgrey;
}
.card {
  grid-column: 3/span 3;
  padding: 1vw;
  border-radius: 10px;
  border-top: 5px double black;
  border-bottom: 5px double black;
  border-right: 0px;
  border-left: 0px;
  box-shadow: 0px 0px 10px 1px;
  background-image: linear-gradient(to right,rgba(260,260,260,.75) 0%, rgba(0,0,0,0) 2.5%, rgba(0,0,0,0) 97.5%,rgba(260,260,260,.75) 100%), url("light-wool.png");
  -webkit-background-image: -webkit-linear-gradient(to right,rgba(260,260,260,.75) 0%, rgba(0,0,0,0) 2.5%, rgba(0,0,0,0) 97.5%,rgba(260,260,260,.75) 100%), url("light-wool.png");
  background-size: auto auto, 6em auto;
}
.card-left, .card-right {
  width:100%;
  display:flex;
  flex-direction: column;
  padding: .5em;
  border-radius: 2.5px;
  justify-content:center;
  background-image: url("mocha-grunge.png");
  background-size: 10em 10em;
  background-blend-mode:screen;
  box-shadow: inset 0px 0px 5.5px 1px black;
}
.card-left {
  grid-column: left/span 3;
  background-color: darkseagreen;
}
.card-right {
  grid-column: left/span 3;
  background-color:darkslategray;
}
#column-main {
  position:inherit;
  width:100%;
  max-width: 100vw;
  display: grid;
  grid-template-columns:[l-gutter] 3fr [useless-l] 0fr [left] 94fr [c-gutter] 0fr [right] 0fr [useless-r] 0fr [r-gutter] 3fr;
  grid-template-rows: [splash] auto [splash-b] auto repeat(6, auto);
  grid-row-gap: 2.5vh;
  grid-column-gap: 0;
  justify-content: center;
  animation-name: columnenter;
  animation-duration: 1s;
  animation-delay: 0s;
  margin: 0;
  margin-bottom: 5em;
 }
 #column-main:before {
   position: fixed;
   content:'';
   z-index: -1;
   top:0;
   left:0;
   grid-column: l-gutter / span 1;
   grid-row: 1 / span 8;
   background-image:repeating-linear-gradient(white, grey .25%, antiquewhite .5%);
   height: 100%;
   width:3vw;
 }
 #column-main:after {
  position: fixed;
  content:'';
  z-index: -1;
  top:0;
  right:0;
  grid-column: r-gutter / span 1;
  grid-row: 1 / span 8;
  background-image:repeating-linear-gradient(white, grey .25%, antiquewhite .5%);
  height: 100%;
  width:3vw;
  }
 #column-main hr {
   grid-column: 3 / span 3;
   background-image: linear-gradient(to right,rgba(0,100,100,1) 0%,aquamarine 20%, lightyellow 50%, aquamarine 80%,rgba(0,100,100,1) 100%);
   box-shadow: 0px 2px 1px 0px rgba(0, 0, 0,.5);
   border-top:1px white solid;
   border-radius: 20px;
   width: 100%;
   height: 1em;
 }
@keyframes columnenter {
 0% {filter: blur(100px);opacity:.25}
 100% {filter: blur(0px);opacity:1}
}
#column-main span {
  grid-column:left/span 3;
}
.general-link, .link {
  display: flex;
  justify-content: center;
  align-content: center;
  grid-column: left/span 3;
  width: 66%;
  height:2em;
  border: white solid;
  border-width: 0px 1px 4px 1px;
  border-radius: 8px;
  color: white;
  -webkit-text-fill-color: white;
  text-align: center;
  text-transform: lowercase;
  background-image: radial-gradient(rgba(0,0,0,0) 50%, rgba(55, 250, 150,.5) 100%);
  text-shadow: 3px 3px 5px rgba(55, 250, 150,.75);
  box-shadow: 0px -5px 8px 0px rgba(55, 250, 150,.75);
  margin:0;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition-duration:.15s;
  transition-duration: .15s;
  }
  .link {
  width: 95%;
  letter-spacing: .15em;
  font-size: .75em;
  }
  .general-link:hover, .link:hover {
  color: rgba(200, 250, 0);
  -webkit-text-fill-color:  rgba(200, 250, 0);
  background-image: radial-gradient(rgba(0,0,0,.75) 0%, rgba(100, 100, 100,.25) 100%);
  border-color:rgba(200, 250, 0);
  border-width: 2px 1px 2px 1px;
  text-shadow:0px 0px 10px yellow;
  box-shadow: inset 0px 5px 5px 1px black;
  -webkit-transition-duration:.15s;
  transition-duration: .15s;
  }
.progress {
  align-self:flex-end;
  height: 1.75em;
  background-color: rgba(0,0,0,0);
  box-shadow: inset 0px 0px 10px 1px rgba(100, 100, 100,1);
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  all:unset;
  cursor: pointer;
}
kbd{
  background-color: dimgray;
}
body {
  margin:unset;
  overflow-x: hidden;
  font-family: "Century Gothic", Georgia, sans-serif;
  font-size: calc(16.4px + 0.175vw);
  line-height: calc(1.5em + 0.3333vw);
  letter-spacing: calc(.025em + .1vw);
  max-width: 100%;
  background-image: url("wood.png");;
  background-color: antiquewhite;
  background-size:10em 100em;
}
p {
 text-align: left;
 text-align-last: left;
}
article {
  grid-column: left/span 3;
  border-radius: 5px;
  text-indent: 1em;
  padding: 1em;
  background-image: url("mocha-grunge.png");
  background-color: lightcyan;
  background-size: 20em 10em;
  box-shadow: inset 0px 0px 5px 0px;
}
article h3 {
  font-size: 2em;
  padding: .5em;
  width:100%;
  margin: auto;
  font-family: monospace;
  font-weight: bold;
  background-color: rgba(200,200,0,.5);
  border-radius: 4px;
}
h1 {
  grid-column: left/span 3;
  font-size: 1.25em;
 text-shadow: 3px 3px 3px grey;
 font-weight: lighter;
 margin-bottom: .5em;
 text-align:center;
 text-align-last: center;
 color:#fff!important;
 -webkit-text-fill-color: rgba(260, 260, 260, 1);
 letter-spacing:.15em;
 line-height: 1.25;
 scroll-snap-align: start; /* latest (Chrome 69+) */
scroll-snap-coordinate: 0% 0%; /* older (Firefox/IE) */
-webkit-scroll-snap-coordinate: 0% 0%; /* older (Safari) */
}
h2 {
 position:relative;
 text-shadow: 3px 3px 3px grey;
 margin-bottom: .5em;
 text-align: left;
 text-transform: lowercase;
 color: #fff !important;
 -webkit-text-fill-color: rgba(260, 260, 260, 1);
 letter-spacing:.15em;
 scroll-snap-align: start; /* latest (Chrome 69+) */
scroll-snap-coordinate: 0% 0%; /* older (Firefox/IE) */
-webkit-scroll-snap-coordinate: 0% 0%; /* older (Safari) */
}
.container h2{
animation-name: title;
animation-duration: 2s;
animation-delay: 1s;
}
@keyframes title {
  0% {-webkit-text-fill-color:aquamarine}
  50% {-webkit-text-fill-color:aquamarine;transform:scale(1.5)}
  100% {-webkit-text-fill-color:white}
}

h3 {
 position:relative;
 text-shadow: 3px 3px 3px grey;
 border-radius: 25px;
 background-color: none;
 margin-bottom: .5em;
 text-align: center;
 color: #fff !important;
 -webkit-text-fill-color: rgba(260, 260, 260, 1);
 letter-spacing: .2em;
 box-shadow: None;
}

h4 {
  padding-top: .25em;
 text-align: center;
 margin-left:1.5em;
 margin-right:1.5em;
 border: 2px black double;
 border-top: none;
 border-radius: 0px 0px 5px 5px;
}

h5 {
 font-weight: 600;
 font-variant: small-caps;
 margin-left: -3em;
 color: black;
 letter-spacing: 1.25;
 text-shadow: 1px 2px 5px grey;
}

h6 {
 text-align: center;
 margin-top: .25em;
 font-weight:normal;
}
h6 a:hover {
 color:orange
}
#title {
  font-size: 2em;
}
#buildfly {
  grid-row: 2/ span 1;
  grid-column: left/span 1;
  width: 100%;
  height: 30vh;
  object-fit: fill;
  z-index: 0;
  border: 4px aquamarine inset;
  box-shadow: 2px 2px 20px 2px aqua;
}
#artistic {
  grid-row: 2;
  grid-column: left/span 1;
  height: 30vh;
  width: 100%;
  z-index: 0;
  border: 4px aquamarine inset;
  box-shadow: 2px 2px 20px 2px aqua;
}
.arrow-1 {
  grid-row: 3;
  grid-column: left;
  margin-top: 0;
  color: aqua;
  text-align: center;
  font-family: inherit;
  font-size:2em;
}
.arrow-2 {
  display: none;
}
#planimgs {
  grid-row: 5 / span 1;
  grid-column: left/span 3;
  flex-direction: column;
  background-image: url('natural-paper.png'),linear-gradient(to right,rgba(260,260,260,.75) 0%, rgba(200,100,0,.5) 10%, rgba(200,100,0,.5) 90%,rgba(260,260,2600.75) 100%);
  background-size: 10em 10em,auto;
  box-shadow: inset 0px 0px 3px 0px black;
  overflow:hidden;
}
#planimgs h1 {
  font-size: 4vh;
}
#planimgs-grp {
  flex-direction: column;
}
#planimgs-grp img {
  width:100%;
}
#buttongroup {
  flex-direction: row;
}
#button1 {
  margin-top: 1em;
  display: flex;
  color:white;
  justify-content: center;
  width: 7em;
  cursor: pointer;
  text-align: center;
  text-shadow: 3px 3px 5px black;
  text-transform: lowercase;
  letter-spacing: .15em;
  font-size: 1em;
  font-family: "Century Gothic", sans-serif;
  border-top: 2px grey solid;
  border-bottom: 2px dimgrey solid;
  border-left: 1px dimgrey solid;
  border-right: 1px dimgrey solid;
  -webkit-transition-duration: 0.25s;
  transition-duration: .25s;
  border-radius: 10px 0px 0px 10px;
  }
  #button2 {
    margin-top: 1em;
    display: flex;
    color:white;
    justify-content: center;
    width: 7em;
    cursor: pointer;
    text-align: center;
    text-shadow: 3px 3px 5px black;
    text-transform: lowercase;
    letter-spacing: .15em;
    font-size: 1em;
    font-family: "Century Gothic", sans-serif;
    border-top: 2px grey solid;
    border-bottom: 2px dimgrey solid;
    border-left: 1px dimgrey solid;
    border-right: 1px dimgrey solid;
    -webkit-transition-duration: 0.25s;
    transition-duration: .25s;
    border-radius: 0px 10px 10px 0px;
    }
  #button1:hover,#button2:hover {
    color: rgba(200, 250, 0);
    text-shadow:0px 0px 10px yellow;
  }
.activate {
  box-shadow:inset 0px 5px 5px 1px black;
  background-image:radial-gradient(rgba(200,200,0,1) 50%, grey 95%);
  color: mintcream;
  -webkit-text-fill-color: mintcream;
  text-shadow: 2px 2px 1px darkorange;
  border-top: 4px black solid;
  border-bottom: 1px black solid;
  border-left: 2px black solid;
  border-right: 1px black solid;
  -webkit-transition-duration: 0.25s;
  transition-duration: .25s;
}
.deactivate {
  background-image:radial-gradient(dimgray 50%, rgba(0,0,0,.5) 100%);
  color:mintcream;
  -webkit-text-fill-color: mintcream;
  box-shadow:0px 5px 5px 1px black;
  text-shadow: 2px 2px 1px purple;
  border-top: 2px grey solid;
  border-bottom: 2px dimgrey solid;
  border-left: 1px dimgrey solid;
  border-right: 1px dimgrey solid;
  -webkit-transition-duration: 0.25s;
  transition-duration: .25s;
}
#imgarray {
  grid-row: 7;
  grid-column: left/span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("iron-grip.png");
  box-shadow: inset 0px 5px 50px 10px black;
  width:100%;
  height:50vh;
  margin:0;
  border-radius: 15px;
  margin-bottom: 3em;
}
#imgarray img {
  size: 100% auto;
  max-width:100%;
  max-height: 50vh;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  touch-action: auto;
}
#carrot-cake {
  all:unset;
  position: absolute;
  grid-row: 6/ span 2;
  grid-column: left / span 3;
  width:100%;
  height: 100%;
  margin:0;
  padding: 0;
  z-index: 9;
  display: flex;
  flex-direction: row;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
#viewcap{
  align-self:flex-start;
  text-align: center;
  text-indent: 0;
  width:100%;
  flex-wrap: nowrap;
  color: #ffc107;
  -webkit-text-fill-color: #ffc107;
  font-family: inherit;
  font-size: 1.75em;
  letter-spacing: .2em;
  text-shadow: 2px 2px 2px black;
  -webkit-transition-duration:.7s;
  transition-duration: .7s;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
#carrot1 {
  cursor: pointer;
  text-align: left;
  align-self:center;
  color: #ffc107;
  -webkit-text-fill-color: #ffc107;
  height: 1em;
  width: 1em;
  opacity: .5;
  padding: .15em;
  font-size: 3em;
  line-height: .5em;
  border: 2px inset dimgrey;
  border-radius: 10px;
  transform: scaleY(1.25) scaleX(.75);
  text-shadow: 2px 2px 2px black;
  box-shadow: inset 0px 0px 5px 2px black;
  -webkit-transition-duration:.25s;
  transition-duration: .25s;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
#carrot2 {
  cursor: pointer;
  text-align: right;
  align-self:center;
  color: #ffc107;
  -webkit-text-fill-color: #ffc107;
  opacity: .5;
  padding: .15em;
  height: 1em;
  width: 1em;
  font-size: 3em;
  border: 2px inset dimgrey;
  border-radius: 10px;
  line-height: .5em;
  transform: scaleY(1.25) scaleX(.75);
  text-shadow: 2px 2px 2px black;
  box-shadow: inset 0px 0px 5px 2px black;
  -webkit-transition-duration:.25s;
  transition-duration: .25s;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
#carrot1:hover,#carrot2:hover {
  text-shadow: 3px 3px 5px #ffc107;
  color: white;
  text-decoration:none;
  -webkit-text-fill-color: white;
  box-shadow: inset 0px 0px 5px 2px white;
  border-color:white;
  opacity: .5;
  -webkit-transition-duration:.25s;
  transition-duration: .25s;
}
footer {
  all:unset;
  width:100%;
  max-width: 100vw;
  display: grid;
  grid-template-columns:[l-gutter] 3fr [left] 94fr [r-gutter] 3fr;
  z-index: 99;
  max-width: 100vw;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #fff !important;
  -webkit-text-fill-color: white;
  font-size: calc(16.4px + 0.175vw);
  line-height: calc(1.5em + 0.3333vw);
  letter-spacing: calc(.025em + .1vw);
  font-family: "Century Gothic", Georgia, sans-serif;
  justify-content:center;
  align-items: center;
  text-align: center;
  -webkit-transition-duration: 0.35s;
  transition-duration: .35s;
}
footer a:hover,.linked:hover img {
  color:orange;
  -webkit-text-fill-color: orange;
  text-decoration: none;
  filter:invert(0);
  cursor: pointer;
}
footer #dropup {
  grid-column: left/span 1;
  font-size: calc(16.4px + 0.175vw);
  line-height: calc(1.5em + 0.3333vw);
  letter-spacing: calc(.025em + .1vw);
  width: 100%;
  align-items: center;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
}
#dropup button{
  display: flex;
  width: 90vw;
  font-size: 1em;
  padding: .25em;
  box-shadow: 0px 0px 5px 0px black;
  border-radius: 15px 15px 0px 0px;
  background-image: url("iron-grip.png");
  background-size: 10em 10em;
  background-color: black;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
}
#dropup button:hover {
  color: orange !important;
  -webkit-text-fill-color: orange;
  background-image: url("iron-grip.png");
  background-size: 10em 10em;
  background-color: dimgray;
}
#footbutton {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 1.5em;
  justify-content:center;
  align-items:center;
  padding: unset;
  bottom:unset;
  flex-wrap: nowrap;
}
#footbutton kbd {
  background-image: url("iron-grip.png");
  background-size: 10em 10em;
  background-color: black;
  flex-wrap: nowrap;
  margin: .5em;
}
#footbutton i {
  flex-wrap: nowrap;
  margin: .15em;
  color: #fff !important;
}
#footer-dropdown.dropdown-menu{
  align-content:center;
  justify-content: center;
  align-items:center;
  height: 8em;
  margin-left: 6vw;
  margin-right: 4vw;
  margin-bottom: 1vh;
  width: 90%;
  font-family: "Century Gothic", Georgia, sans-serif;
  font-size: calc(14px + 0.175vw);
  border-radius: 15px;
  background-image: url("iron-grip.png");
  background-size: 10em 10em;
  background-color: dimgray;
  box-shadow: inset 0px 0px 20px 0px black;
  color: orange !important;
  -webkit-text-fill-color: orange;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
}
.changecolor {
  color:aquamarine;
  -webkit-text-fill-color: aquamarine;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
}
.address::before {
  content:"521 Washington St #3, Hoboken, NJ 07030";
}
.address::after {
  content: "\A";
  white-space: pre;
}
.tel::before {
  content: "(202) 681-1138 ║ nterwin714@gmail.com";
}
.email:before {
  content: "";
}
.email:after {
  content: "";
}
.linked img {
  filter:invert(1)drop-shadow(0px 0px 1px orange);
  position: relative;
  height: 1.15em;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}
.linked::after {
  content:"|nterwin714";
}
.ba-slider {
  all:unset;
  overflow: hidden;
  position:relative;
  display: flex;
  border: .5vw inset black;
  border-width:  .5vh .5vw .5vh .5vw;
  border-radius: 1em;
  align-content: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  overflow: hidden;
}
.ba-slider img {
  all:unset;
  display: block;
  height: 40vh;
  width:100%;
  vertical-align: middle;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.resize {
  all:unset;
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 50%;
  overflow: hidden;
}
.handle {
  all:unset;
  left:50%;
  top:0;
  bottom:0;
  margin-left:-.5em;
  display: flex;
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  width: .5em;
  align-self:center;
  justify-content: center;
  background-color: aquamarine;
  background-image: radial-gradient(dimgray 0%,dimgray 25%,white 100%);
  -webkit-background-image: -webkit-radial-gradient(dimgray 0%,dimgray 25%,white 100%);
  background-size: 1em 10em;
  background-position: center;
  background-repeat: no-repeat;
  border: .25vw white solid;
  border-top:2vw black solid;
  border-bottom:2vw black solid;
  box-shadow: 0px 0px 50px 0px lightyellow;
}
.handle:hover {
  background-color: lightsalmon;
  border-color: salmon;
  border-top:2vh black solid;
  border-bottom:2vh black solid;
  box-shadow: 0px 0px 20px 0px lightsalmon;
}
.handle:after {
  content:">";
  cursor: pointer;
  align-self:center;
  color: aquamarine;
  -webkit-text-fill-color: rgba(127,255,212, 1);
  padding: .5em;
  font-size: 4em;
  text-shadow: 2px 2px 2px white;
  -webkit-transition-duration:.25s;
  transition-duration: .25s;
}
.handle:before{
  content:"<";
  cursor: pointer;
  align-self:center;
  color: aquamarine;
  -webkit-text-fill-color: rgba(127,255,212, 1);
  padding: .5em;
  font-size: 4em;
  text-shadow: 2px 2px 2px white;
  -webkit-transition-duration:.25s;
  transition-duration: .25s;
}
.draggable:after {
  content:">>";
  color:yellow;
  -webkit-text-fill-color: rgba(255,255,0,1);
  opacity:0;
  -webkit-transition-duration:1s;
  transition-duration: 1s;
}
.draggable:before {
  content:"<<";
  color:yellow;
  -webkit-text-fill-color: rgba(255,255,0,1);
  opacity:0;
  -webkit-transition-duration:1s;
  transition-duration: 1s;
}
#morganmap {
  width: 100%;
	height: 55vh;
  padding: 0;
  margin: 0;
  z-index: 0;
  background-image: url("iron-grip.png"), radial-gradient(circle,rgba(100,100,0,.8) 50%, rgba(0,0,0,.95) 70%);
  -webkit-background-image: url("iron-grip.png"), radial-gradient(circle,rgba(100,100,0,.8) 50%, rgba(0,0,0,.95) 70%);
  background-size: 25em 10em, auto auto;
  background-blend-mode:luminosity;
}
#morganmap-b {
height:55vh;
align-items:center;
justify-content: center;
width:100%;
grid-column:left/span 3;
padding:0;
overflow:hidden;
border-style: solid;
background-image: url("iron-grip.png"), radial-gradient(circle,rgba(100,100,0,.8) 50%, rgba(0,0,0,.95) 70%);
-webkit-background-image: url("iron-grip.png"), -webkit-radial-gradient(circle,rgba(100,100,0,.8) 50%, rgba(0,0,0,.95) 70%);
background-size: 25em 10em, auto auto;
background-blend-mode:luminosity;
}
#placeholder{
  z-index: 0;
  width:100%;
  max-height:100%;
  filter:blur(3px)contrast(50%);
}
#framebutton {
z-index: 1;
position:absolute;
}
#morgantitle {
  all:unset;
  align-self: center;
  text-align: center;
  font-family: "Century Gothic",sans-serif;
  font-size: 1.5em;
  margin-bottom: -1em;
  letter-spacing: .1em;
  color:#fff!important;
  -webkit-text-fill-color: rgba(260, 260, 260, 1);
  text-transform: lowercase;
  grid-column: left/span 3;
  background-color: black;
  box-shadow: 2px 8px 10px 0px black;
  text-shadow: 1px 1px 1px white;
  border-radius: 5px;
}
#subtitle {
  width: 50%;
  font-family: "Century Gothic",sans-serif;
  letter-spacing: .1em;
  justify-content:center;
  grid-column: left/span 3;
  cursor: pointer;
  margin: auto;
  margin-bottom: -1em;
  transition-duration: .15s;
  -webkit-transition-duration: .15s;
}
#subtitle:hover {
  box-shadow: inset 1px 2px 4px 2px black;
  transition-duration: .15s;
  -webkit-transition-duration: .15s;
}
svg > text  {
  fill:white;
  opacity: 1;
  fillOpacity:1;
  font-size: .7em;
  font-weight: 700;
  letter-spacing: .5em;
  word-break: keep-all;
  font-family: "Century Gothic",sans-serif;
  filter:url(#shadow);
}

img.centerbtn {
  display: block;
  filter:contrast(500%)grayscale(1);
  width:1.9em;
  height:1.9em;
  background:#fff!important;
  border:.5px grey solid;
  cursor:pointer;
  border-radius: 2.5px;
  top: 1em;
}
.leaflet-top .leaflet-control-layers {
  font-size: .5em;
  width:auto;
  background-color: rgba(0,0,0,.25);
  border-radius: 0 0 0 10px;
}
.leaflet-control {
  top: 1em;
}
.leaflet-control-zoom {
  display: none;
}
.leaflet-control-scale,.leaflet-control-scale-line {
  font-size: .75em;
  margin-bottom: 1em;
}
.leaflet-top .leaflet-control {
	margin-top: 0px;
	}
.leaflet-bottom .leaflet-control,
.leaflet-bottom .leaflet-control-attribution {
	margin-bottom: 3px;
	}
.leaflet-left .leaflet-control {
	margin-left: 3px;
	}
.leaflet-right .leaflet-control {
	margin-right: 0px;
	}
#legend-name {
  text-align: center;
  padding: 0;
  margin: 0;
}
.leaflet-bottom .leaflet-control-attribution {
	all:unset;
  line-height: 1em;
  display: block;
  justify-content: center;
  text-align:center;
  font-size: .45em;
	background: rgba(255, 255, 255, 1);
	padding: .2em;
	border-radius: 5px 0px 0px 0px;
  width:63vw;
	}
.leaflet-control-attribution {
  all:unset;
  display: flex;
	padding: 0;
  margin: 0;
}
.leaflet-popup {
  font-size: .5em;
  padding: .25em;
  max-width:60vw;
}
