@import url("https://use.typekit.net/swe7vic.css");
#header {
  all: unset;
  width: 100vw;
  max-width:100%;
  padding: 0;
  margin: 0;
  margin-bottom: 5vh;
  height: 35vh;
  overflow: hidden;
  z-index: 99;
}
.design-header {
  display: grid;
  grid-template-columns: 7vw 43vw 43vw 7vw;
  grid-template-rows: 2vh 11vh 5vh 2vh;
  grid-column-gap: 0;
  justify-content: center;
  background-image: url("iron-grip.png");
  background-size: 10em 10em;
  background-color: dimgray;
  width: 100%;
  max-width: 100vw;
  top:0;
  margin: unset;
  box-shadow: inset 0px 0px 20px 0px black;
  }
.matterhorn {
  grid-area: 2 / 3 / span 1 / span 1;
  vertical-align: top;
  border-radius: 10px;
  animation-name: matterhorn;
  animation-duration: 3s;
  animation-delay: 0s;
}
.matterhorn img {
  object-position: center 22%;
  object-fit: cover;
  width:43vw;
  height: 11vh;
  border: .2vw inset aquamarine;
  border-radius: 0px 10px 10px 10px;
  box-shadow: 0px 15px 20px -10px black;
}
@keyframes matterhorn {
0% {background-color: white;}
25% {background-color: white;}
100% {background-color: none;}
}
.design-title1 {
  grid-area: 3 / 2 / span 1 / span 2;
  font-family: "Century Gothic", sans-serif;
  color: #fff!important;
  -webkit-text-fill-color: rgba(260, 260, 260, 1);
  font-weight: bolder;
  text-transform: lowercase;
  user-select: none;
  font-size: 5vh;
  line-height: 5vh;
  letter-spacing: 1vw;
  text-shadow: 1px 1px 10px lightyellow;
  animation-name: name;
  animation-duration: 1s;
  animation-delay: 0s;
  -webkit-animation-name: name;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 0s;
  -webkit-transition-duration:.35s;
  transition-duration: .35s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.design-title2 {
  grid-area: 2 / 2 / span 1 / span 1;
  color:black;
  align-self:top;
  font-family: inherit;
  text-align: center;
  text-transform: lowercase;
  font-weight:300;
  font-size: 1.5vh;
  letter-spacing: .25vw;
  width:75%;
  word-break: break-all;
  overflow: hidden;
  margin-left: 25%;
  max-height: 2em;
  background-color: rgba(0, 255, 191,1);
  background-image: url("iron-grip.png");
  background-size: 10em 10em;
  padding-left: 1vw;
  padding-right: 1vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: .2vw inset aquamarine;
  border-right: none;
  border-radius: 100px 0 0 100px;
  box-shadow: 0px 15px 20px -5px black;
}
@keyframes name {
  0%   {color:salmon}
  50% {color:tan}
}
-webkit-@keyframes name {
  0%   {color:salmon}
  50% {color:tan}
}
#nav{
  height: 15vh;
  width:100%;
  max-width: 100vw;
}
#topnav {
  display: grid;
  width:100%;
  padding: 0;
  margin: 0;
  max-width:100vw;
  grid-template-columns: 7% 86% 7%;
  grid-template-rows: 9vh auto;
}
 #topnav ul {
   grid-column: 1/span all;
   grid-row: 1;
   display: flex;
   height: 9vh;
   background-color: white;
   background-image: url("iron-grip.png");
   background-size: 10em 10em;
   border: 2px black inset;
   border-width: 10px 2px 2px 2px;
   padding-left: 7vw;
   padding-right: 7vw;
   justify-content:space-around;
   box-shadow: 0px 0px 10px 1px;
   -webkit-transition-duration:.35s;
   transition-duration: .35s;
 }
 #topnav li.nav-item{
   display: flex;
   flex-direction: row;
   list-style: none;
   z-index: 99;
   text-align: center;
   -webkit-transition-duration:.35s;
   transition-duration: .35s;
   padding-top: 1vh;
   padding-bottom: 1vh;
   max-height: 8vh;
   max-width:20vw;
   font-size: 2.5vh;
 }
 #topnav li .nav-link {
   cursor: pointer;
   font-style: "Century Gothic",sans-serif;
   background: white;
   width: 100%;
   text-decoration: overline;
   text-transform: lowercase;
   color: black;
   border: 2px black inset;
   border-width: 2px 5px 5px 2px;
   border-radius: 12px 12px 12px 6px;
   -webkit-transition-duration: 0.35s;
   transition-duration: .35s;
 }
 #topnav .nav-link:hover, #dropdown-title:hover,#dropdown-title-btn:hover{
   color: white;
   background: black;
   border-color:white;
   border-width: 2px 5px 5px 2px;
   -webkit-transition-duration: 0.35s;
   transition-duration: .35s;
 }
#flair-before {
  grid-column: 1/span 1;
  grid-row: 2/span 1;
  content: "";
  height:0;
  width: 0;
  margin-left:5vw;
  z-index: 99;
  border-top: 3vw solid black;
  border-left:2vw solid transparent;
}
#flair-after {
  grid-column: 3/span 1;
  grid-row: 2/span 1;
  content: "";
  height:0;
  width: 0;
  margin-right:5vw;
  z-index: 99;
  border-top: 3vw solid black;
  border-right: 2vw solid transparent;
}
#dropdown-title {
  cursor: pointer;
  display: flex;
  width: 75%;
  justify-content: center;
  font-style: "Century Gothic",sans-serif;
  background: white;
  margin-right: 0;
  background: white;
  text-decoration: overline;
  text-transform: lowercase;
  color: black;
  border: 2px black solid;
  border-width: 2px 0px 5px 2px;
  border-radius: 12px 0px 0px 6px;
  -webkit-transition-duration: 0.35s;
  transition-duration: .35s;
}
#dropdown-title-btn {
  cursor: pointer;
  display: flex;
  width: 25%;
  justify-content: center;
  font-style: "Century Gothic",sans-serif;
  background: goldenrod;
  margin-left: 0;
  text-decoration: overline;
  text-transform: lowercase;
  color: white;
  border: 2px black solid;
  border-width: 2px 5px 5px 0px;
  border-radius: 0px 12px 12px 0;
  -webkit-transition-duration: 0.35s;
  transition-duration: .35s;
}
#dropdown {
  z-index: 98;
  position: relative;
  list-style: none;
  background:none;
  background-image:url("iron-grip.png"), linear-gradient(to right,rgba(260,260,260,.25) 0%, rgba(260,260,260,.75) 10%, rgba(260,260,260,.75) 90%,rgba(260,260,260,.25) 100%);
  background-size: 10em 10em,auto;
  box-shadow: 0px 0px 10px 1px;
  border: none;
  border-radius: 12px;
  width: auto;
  height: auto;
  -webkit-transition-duration:.35s;
  transition-duration: .35s;
}
#dropdown a {
  cursor: pointer;
 z-index: 98;
 width: auto;
 display: flex;
 justify-content:center;
 align-self: stretch;
 align-items: flex-end;
 margin:.5em;
 background: white;
 text-transform: lowercase;
 font-size: 2vh;
 color: black;
 border-radius: 12px 0px 12px 0px;
 box-shadow: 0px 0px 5px 1px black;
 padding: .5em;
 -webkit-transition-duration: 0.35s;
 transition-duration: .35s;
}
#dropdown a:hover {
  color:red;
  background-color: mistyrose;
  box-shadow: inset 0px 0px 1px 0px black;
  -webkit-transition-duration: 0.35s;
  transition-duration: .35s;
}
#topnav .active:first-child,#dropdown .dropdown-item.active {
  color: white;
  text-shadow: 1px 1px 8px lightyellow;
  background-image: url("iron-grip.png");
  background-size: 10em 10em;
  background-blend-mode:hard-light;
  background-color: dimgray;
  border-color: grey;
}
#dropdown-title:hover {
  box-shadow:none;
}
#topnav.sticky {
 position: fixed;
 z-index: 99;
 top: 3vh;
 width:100%;
 -webkit-transition-duration:.35s;
 transition-duration: .35s;
}
.stickytitle {
  position: fixed;
  background-color: black;
  color: palegoldenrod;
  -webkit-text-fill-color: palegoldenrod;
  letter-spacing: .5vw;
  line-height: 0;
  max-width: 66%;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 2vh;
  padding-top: 1.5vh;
  z-index:90;
  font-size: 2.25vh;
  top: 0%;
  left:0;
  margin-left: 5%;
  height: 4vh;
  text-shadow: 2px 2px red;
  box-shadow: 0px -10px 10px 1px black;
  -webkit-transition-duration:.35s;
  transition-duration: .35s;
}
.card {
  grid-column: left /span 3;
  padding: 1vw;
  border-radius: 10px;
  border-top: 5px double black;
  border-bottom: 5px double black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  box-shadow: 0px 0px 10px 1px;
  background-image: linear-gradient(to right,white 0%, rgba(0,0,0,0) 2.5%, rgba(0,0,0,0) 97.5%,white 100%), url("light-wool.png");
  -webkit-background-image: -webkit-linear-gradient(to right,white 0%, rgba(0,0,0,0) 2.5%, rgba(0,0,0,0) 97.5%,white 100%), url("light-wool.png");
  background-size: auto auto, 6em auto;
}
.toobig {
  margin-right: 5vw;
  margin-left: 5vw;
}
article p::first-line {
  background-color: dimgray;
  font-variant: small-caps;
  color: white;
  -webkit-color:white;
  letter-spacing: .3vw;
  text-shadow: 2px 2px 2px black;
}
article p::first-letter {
  font-weight: 900;
  font-size: 200%;
}
article {
  border-radius: 15px;
  text-indent: .5em;
  background-color: white;
  background-image: url("iron-grip.png");
  background-size: auto 5em;
  column-count: 1;
  padding: 2em;
  box-shadow: inset 2px 2px 10px 5px;
}
article h3 {
  margin-top: 0;
  box-shadow: inset 2px 2px 10px 1px black;
  background-image: url("iron-grip.png");
  background-size: auto auto;
  background-color:lightsteelblue;
  border-radius: 5px;
  font-size: 5vh;
}
.card-left, .card-right {
  max-width:38vw;
  letter-spacing: .1vw;
  text-align:left;
  display:flex;
  flex-direction: column;
  padding: .5em;
  font-size: 1em;
  border-radius: 10px;
  text-align: left;
  justify-content:center;
  align-content:stretch;
  background-image: url("iron-grip.png");
  background-size: 10em 10em;
  background-blend-mode:screen;
}
.card-left {
  grid-column: left/span 1;
  background-color: lightsalmon;
  box-shadow: inset 0px 0px 10px 1px black;
}
.card-right {
  grid-column: right/span 1;
  background-color: papayawhip;
  box-shadow: inset 0px 0px 10px 1px black;
}
.card-right .link {
    align-self: center;
    text-align: center;
    background: none;
    text-shadow: 3px 3px 5px rgba(55, 250, 150,.75);
    text-transform: lowercase;
    color: dimgrey;
    border-top: 4px dimgrey solid;
    border-left: 1px dimgrey solid;
    border-right: 1px dimgrey solid;
    border-radius: 8px;
    box-shadow: 0px -5px 8px 0px rgba(55, 250, 150,.75);
    width: 95%;
    padding: .1em;
  }
.card-right .link:hover {
    color: rgba(200, 250, 0);
    background-color: grey;
    border-top: 4px black solid;
    border-left: 1px black solid;
    border-right: 1px black solid;
    text-shadow:0px 0px 10px yellow;
    box-shadow: inset 0px 5px 5px 1px black;
    }
.card-right h1 {
  color:dimgrey;
  -webkit-text-fill-color: dimgray;
  font-size: 1.75em;
  font-weight: bold;
  text-transform: lowercase;
  text-shadow: 3px 3px 5px;
  text-decoration: overline;
}
.leftside {
  position: fixed;
  z-index: -1;
  top:0;
  left:0;
  grid-column: l-gutter / span 1;
  grid-row: 1 / span 8;
  background-image:repeating-linear-gradient(white, grey .25%, antiquewhite .5%);
  height: 100%;
  width:100%;
  max-width: 7vw;
}
.rightside {
  position: fixed;
  right:0;
  top:0;
  z-index: -1;
  grid-column: r-gutter / span 1;
  grid-row: 1 / span 8;
  background-image:repeating-linear-gradient(white, grey .25%, antiquewhite .5%);
  height: 100%;
  width:100%;
  max-width: 7vw;
}
.general-link {
  grid-column: left/span 3;
  display: block;
  text-align: center;
  background: none;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 3px 3px 5px rgba(55, 250, 150,.25);
  text-transform: lowercase;
  letter-spacing: .5em;
  color: dimgrey;
  -webkit-text-fill-color: dimgray;
  background-color: papayawhip;
  border-top: 4px dimgrey solid;
  border-left: 1px dimgrey solid;
  border-right: 1px dimgrey solid;
  border-radius: 8px;
  box-shadow: 0px -10px 15px 0px rgba(55, 250, 150,.25);
  width: 80%;
  padding: .2em;
  margin-left: auto;
  margin-right: auto;
 }
.general-link:hover {
   color: rgba(200, 250, 0);
   background-color: dimgrey;
   border-top: 4px black solid;
   border-left: 1px black solid;
   border-right: 1px black solid;
   text-shadow:0px 0px 10px yellow;
   box-shadow: inset 0px 5px 5px 1px black;
 }
#column-main {
  position:inherit;
 width:100%;
 max-width: 100vw;
 display: grid;
 grid-template-columns:[l-gutter] 7vw [useless-l] 3vw [left] 38vw [c-gutter] 4vw [right] 38vw [useless-r] 3vw [r-gutter] 7vw;
 grid-template-rows: [splash] auto [splash-b] auto repeat(6, auto);
 grid-row-gap: 5vh;
 grid-column-gap: 0;
 justify-content: center;
 animation-name: columnenter;
 animation-duration: 1s;
 animation-delay: 0s;
 margin: 0;
 margin-bottom: 5vh;
 }
 #column-main hr {
  grid-column: left / span 3;
  background-image: url("iron-grip.png");
  background-size: 20em 25em;
  background-color: teal;
  width: 90%;
  height: 2.5em;
  border-left: 1em black solid;
  border-right: 1em black solid;
  box-shadow: inset 0 0 10px #000000;
 }
@keyframes columnenter {
 0% {filter: blur(100px);opacity:.25}
 100% {filter: blur(0px);opacity:1}
}
* {
 box-sizing: border-box;
}
a {
  all:unset;
 text-decoration: none;
 color: inherit;
}

body {
  margin:unset;
  overflow-x: hidden;
 font-family: "Century Gothic", sans-serif;
 font-size: 100%;
 max-width: 100%;
 background-image: url("wood.png");;
 background-color: antiquewhite;
 background-size:10em 100em;
}

p {
 font-family: "Century Gothic", sans-serif;
 font-size:1.15em;
 line-height:130%;
 margin-bottom:1em;
 margin-top:1em;
 text-align: left;
 text-align-last: left;
}
h1 {
  all:unset;
  grid-column: left/span 3;
 text-shadow: 3px 3px 3px grey;
 font-size: 3vh;
 font-weight: lighter;
 margin-left: 1em;
 margin-right: 1em;
 margin-bottom: .5em;
 text-align:center;
 text-align-last: center;
 color: white;
 -webkit-text-fill-color: rgba(260, 260, 260, 1);
 letter-spacing:.15em;
 line-height: 1.25;
 scroll-snap-align: start; /* latest (Chrome 69+) */
scroll-snap-coordinate: 0% 0%; /* older (Firefox/IE) */
-webkit-scroll-snap-coordinate: 0% 0%; /* older (Safari) */
}
h2 {
 position:relative;
 text-shadow: 3px 3px 3px grey;
 font-size: 1.5em;
 margin-bottom: .5em;
 text-align: left;
 text-transform: lowercase;
 color: white;
 -webkit-text-fill-color: rgba(260, 260, 260, 1);
 letter-spacing:.15em;
 scroll-snap-align: start; /* latest (Chrome 69+) */
scroll-snap-coordinate: 0% 0%; /* older (Firefox/IE) */
-webkit-scroll-snap-coordinate: 0% 0%; /* older (Safari) */
}
.container h2{
animation-name: title;
animation-duration: 2s;
animation-delay: 1s;
}
@keyframes title {
0% {color:aquamarine}
50% {color:aquamarine;transform:scale(1.5)}
100% {color:white}
}
h3 {
 position:relative;
 text-shadow: 3px 3px 3px grey;
 border-radius: 25px;
 background-color: none;
 font-size: 2em;
 margin-bottom: .5em;
 text-align: center;
 color: white;
 -webkit-text-fill-color: rgba(260, 260, 260, 1);
 letter-spacing: .2em;
 box-shadow: None;
}

h4 {
 font-weight: 400;
 text-align: left;
 font-variant: small-caps;
 font-size: 1.5em;
 margin-left:1.5em;
 margin-right:1.5em;
}

h5 {
 font-size: 1em;
 font-weight: 600;
 font-variant: small-caps;
 margin-left: -3em;
 color: black;
 letter-spacing: 1.25;
 text-shadow: 1px 2px 5px grey;
}

h6 {
 text-align: center;
 font-size: 1em;
 margin-top: .25em;
 font-weight:normal;
}
h6 a:hover {
 color:orange
}
#title {
  all:unset;
  position:inherit;
  grid-row: splash;
  grid-column: left/span 3;
  background-image: url("iron-grip.png");
  background-size: 20em .5em;
  background-color: rgba(0,255,255,.75);
  box-shadow: inset 2px 2px 10px 1px black;
  justify-content:center;
  padding: 1vh;
  margin: auto;
  margin-top: -1vh;
  text-align: center;
  z-index: 1;
  color: white;
  -webkit-text-fill-color: rgba(260, 260, 260, 1);
  font-size: 2vw;
  text-transform: lowercase;
  text-shadow: 2px 2px 1px salmon;
  letter-spacing: .15em;
}
#buildfly {
  all:unset;
  grid-row: splash;
  grid-column: left/span 3;
  margin: auto;
  display: block;
  max-height: 66vh;
  max-width: 66vw;
  align-content: center;
  z-index: 0;
  background-color: orange;
  border: 4px aquamarine inset;
  box-shadow: 2px 2px 20px 2px aqua;
}
#artistic {
  all:unset;
  grid-row: splash;
  grid-column: left/span 3;
  display: block;
  max-height: 66vh;
  max-width: 66vw;
  margin: auto;
  align-content: center;
  z-index: 0;
  background-color: orange;
  border: 4px aquamarine inset;
  box-shadow: 2px 2px 20px 2px aqua;
}
.arrow-1 {
  grid-row: splash;
  grid-column: useless-l;
  color: aqua;
  -webkit-text-fill-color: aqua;
  text-align: center;
  margin-top: 50vh;
  font-family: inherit;
  font-size: 4vw;
}
.arrow-2 {
  grid-row: splash;
  grid-column: useless-r;
  color: aqua;
  -webkit-text-fill-color: aqua;
  text-align: center;
  margin-top: 50vh;
  font-family: inherit;
  font-size:4vw;
}
#planimgs {
  grid-row: 4 / span 1;
  grid-column: left/span 3;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 50% 50%;
  background-color: tan;
  background-image: url(light-wool.png);
  width: 100%;
  overflow:hidden;
  border-top: 4px salmon inset;
  border-left: 2px salmon inset;
  border-right: 2px salmon inset;
  border-bottom: 2px salmon inset;
  border-radius:15px;
}
#planimgs figure {
  top:0;
  grid-area:1/1/span 2/span 1;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden;
  }
#planimgs img {
  display: flex;
  width:100%;
  border-radius:15px;
  background-color: orange;
  border: 4px orange inset;
  overflow:hidden;
  }
#planimgs span  {
  grid-area:1/2/span 1/span 1;
  width:100%;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  text-align: center;
  text-align-last: center;
  color:white;
  -webkit-text-fill-color: rgba(260, 260, 260, 1);
  text-shadow: 3px 3px 3px red;
  font-size:4vw;
  text-transform: lowercase;
  letter-spacing: .13em;
  }
#planimgs div {
  grid-area:2/2/span 1/span 1;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-self:stretch;
  position: relative;
  top:inherit;
  width:80%;
  margin-left: auto;
  margin-right: auto;
  }
#button1, #button2 {
  color:white;
  -webkit-text-fill-color: rgba(260, 260, 260, 1);
  height: 8vh;
  flex-basis: 35%;
  margin-top: .5em;
  margin-bottom: .5em;
  cursor: pointer;
  -webkit-transition-duration: 0.25s;
  transition-duration: .25s;
  font-weight: bold;
  text-align: center;
  text-shadow: 3px 3px 5px black;
  text-transform: lowercase;
  letter-spacing: 2px;
  font-size: 2vw;
  font-family: "Century Gothic", sans-serif;
  border-top: 2px grey solid;
  border-bottom: 4px dimgrey solid;
  border-left: 1px dimgrey solid;
  border-right: 1px dimgrey solid;
  border-radius: 10px;
  }
  #button1:hover,#button2:hover {
    color: rgba(200, 250, 0);
    -webkit-text-fill-color: rgba(200, 250, 0);
    text-shadow:0px 0px 10px yellow;
  }
.activate {
  box-shadow:inset 0px 5px 5px 1px black;
  background-image: url("iron-grip.png"), radial-gradient(rgba(200,200,0,1) 50%, grey 95%);
  color: mintcream;
  -webkit-text-fill-color: mintcream;
  text-shadow: 2px 2px 1px darkorange;
  border-top: 4px black solid;
  border-bottom: 1px black solid;
  border-left: 2px black solid;
  border-right: 1px black solid;
}
.deactivate {
  background-image: url("iron-grip.png"), radial-gradient(darkseagreen 0%, tan 50%, rgba(0,0,0,.5) 100%);
  color:mintcream;
  -webkit-text-fill-color: mintcream;
  box-shadow:0px 5px 5px 1px black;
  text-shadow: 2px 2px 1px purple;
  border-top: 2px grey solid;
  border-bottom: 4px black solid;
  border-left: 1px dimgrey solid;
  border-right: 1px dimgrey solid;
}
#imgarray {
  grid-row: 7;
  grid-column: left/span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("iron-grip.png");
  box-shadow: inset 0px 5px 50px 10px black;
  width:100%;
  height:60vh;
  margin:0;
  border-radius: 15px;
  margin-bottom: 3em;
}
#imgarray .carousel-item img {
  height: 100%;
  max-width:100%;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  touch-action: auto;
}
#imgarray .carousel-inner {
  height:80%;
  margin:0;
  padding: 0;
}
#imgarray .carousel-inner .carousel-item {
  height: 100%;
  width:100%;
  margin:0;
  padding: 0;
}
#carrot-cake {
  all:unset;
  position: absolute;
  grid-row: 6/ span 2;
  grid-column: left / span 3;
  width:100%;
  height: 100%;
  margin:0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  z-index: 9;
  display: flex;
  flex-direction: row;
}
#viewcap{
  align-self:flex-start;
  text-align: center;
  text-indent: 0;
  letter-spacing: .1em;
  width:100%;
  color: antiquewhite;
  -webkit-text-fill-color: antiquewhite;
  font-family: inherit;
  font-size: 2em;
  text-shadow: 2px 2px 2px red;
  -webkit-transition-duration:.7s;
  transition-duration: .7s;
}
#carrot1 {
  cursor: pointer;
  text-align: left;
  align-self:center;
  color: antiquewhite;
  -webkit-text-fill-color: antiquewhite;
  opacity: .5;
  padding: .15em;
  font-size: 4em;
  line-height: .5em;
  border: 2px inset salmon;
  border-radius: 10px;
  transform: scaleY(1.25) scaleX(.75);
  text-shadow: 2px 2px 2px red;
  box-shadow: inset 0px 0px 5px 2px grey;
  -webkit-transition-duration:.25s;
  transition-duration: .25s;
}
#carrot2 {
  cursor: pointer;
  text-align: right;
  align-self:center;
  color: antiquewhite;
  -webkit-text-fill-color: antiquewhite;
  opacity: .5;
  padding: .15em;
  font-size: 4em;
  border: 2px inset salmon;
  border-radius: 10px;
  line-height: .5em;
  transform: scaleY(1.25) scaleX(.75);
  text-shadow: 2px 2px 2px red;
  box-shadow: inset 0px 0px 5px 2px grey;
  -webkit-transition-duration:.25s;
  transition-duration: .25s;
}
#carrot1:hover,#carrot2:hover {
  text-shadow: 3px 3px 5px aquamarine;
  color: yellow;
  text-decoration: none;
  -webkit-text-fill-color: yellow;
  border-color:yellow;
  opacity: 1;
  transform: scaleY(1) scaleX(.8);
  -webkit-transition-duration:.25s;
  transition-duration: .25s;
}
#pagetog {
  display: none;
}
footer {
  z-index: 99;
  position: fixed;
  display: grid;
  grid-template-columns: [l-garbage] 1vw [content] 98vw [r-garbage] 1vw;
  grid-template-rows: [top] 4vh [top-line] 4vh [middle] 4vh 1vh;
  max-width: 100%;
  height: 13vh;
  color: white;
  -webkit-text-fill-color: rgba(260, 260, 260, 1);
  justify-content:space-around;
  align-items: center;
  text-align: center;
  font-size: 2vh;
  letter-spacing: .25vw;
  line-height: 130%;
  word-break: keep-all;
  margin: 0;
  -webkit-transition-duration: 0.35s;
  transition-duration: .35s;
  bottom:-9.5vh;
}
footer::after {
  content:"";
  z-index: -1;
  grid-row: top-line/span 3;
  grid-column: content;
  background-color: dimgrey;
  box-shadow: inset 2px 8px 10px 0px black;
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0px 0px;
}
footer a:hover,.linked:hover img {
  color:orange;
  -webkit-text-fill-color: rgba(255, 165, 0, 1);
  text-decoration: none;
  filter:invert(0);
}
.top  {
  grid-row: top/span 1;
  grid-column: content;
}
.top img {
  margin: auto;
  margin-bottom: 0;
  display: flex;
  justify-content:center;
  padding: .3em;
  padding-bottom: .5em;
  height: 4vh;
  background: grey;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: inset 0px 5px 10px 0px white;
  -webkit-transition-duration: 0.35s;
  transition-duration: .35s;
}
.top img:hover {
  background-color: darkslategray;
 -webkit-transition-duration: 0.35s;
 transition-duration: .35s;
 filter: contrast(140%);
}
.top-line {
  grid-row: top-line/span 1;
  grid-column: content;
  align-self:flex-end;
}
.address::before {
  content:"521 Washington St #3, Hoboken, NJ 07030 ║";
}
.tel::before {
  content: " (202) 681-1138";
}
.middle {
  grid-row: middle/span 1;
  grid-column: content;
  align-self:flex-start;
}
.email:before {
  content: "nterwin714@gmail.com";
}
.email:after {
  content: " ║ ";
}
.linked img {
  position: relative;
  filter: invert(1);
  height: 1.5em;
}
.linked::after {
  content:"|nterwin714";
}
.ba-slider {
  all:unset;
  overflow: hidden;
  position:relative;
  display: flex;
  border: .5vw inset black;
  border-width:  .5vh .5vw .5vh .5vw;
  border-radius: 1em;
  align-content: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  overflow: hidden;
}
.ba-slider img {
  all:unset;
  display: block;
  height: 50vh;
  width:100%;
  vertical-align: middle;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.resize {
  all:unset;
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 50%;
  overflow: hidden;
}
.handle {
  all:unset;
  left:50%;
  top:0;
  bottom:0;
  margin-left:-2px;
  display: flex;
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  width: .75em;
  align-self:center;
  justify-content: center;
  background-color: aquamarine;
  background-image: radial-gradient(dimgray 0%,dimgray 25%,white 100%);
  background-size: 1em 10em;
  background-position: center;
  background-repeat: no-repeat;
  border: .1vw white solid;
  border-top:2vh black solid;
  border-bottom:2vh black solid;
  box-shadow: 0px 0px 50px 0px lightyellow;
}
.handle:hover {
  background-color: lightsalmon;
  border-color: salmon;
  border-top:2vh black solid;
  border-bottom:2vh black solid;
  box-shadow: 0px 0px 20px 0px lightsalmon;
}
.handle:after {  /* Big orange knob  */
  content:">";
  cursor: pointer;
  align-self:center;
  color: aquamarine;
  -webkit-text-fill-color: rgba(127,255,212, 1);
  padding: .5em;
  font-size: 4em;
  text-shadow: 2px 2px 2px white;
  -webkit-transition-duration:.25s;
  transition-duration: .25s;
}
.handle:before{
  content:"<";
  cursor: pointer;
  align-self:center;
  color: aquamarine;
  -webkit-text-fill-color: rgba(127,255,212, 1);
  padding: .5em;
  font-size: 4em;
  text-shadow: 2px 2px 2px white;
  -webkit-transition-duration:.25s;
  transition-duration: .25s;
}
.draggable:after {
  content:">>";
  color:yellow;
  -webkit-text-fill-color: rgba(127,255,212, 1);
  opacity:0;
  -webkit-transition-duration:1s;
  transition-duration: 1s;
}
.draggable:before {
  content:"<<";
  color:yellow;
  -webkit-text-fill-color: rgba(127,255,212, 1);
  opacity:0;
  -webkit-transition-duration:1s;
  transition-duration: 1s;
}
#morganmap {
  width: 100%;
	height: 60vh;
  padding: 0;
  margin: 0;
  z-index: 0;
  background-image: url("iron-grip.png"), radial-gradient(circle,rgba(100,100,0,.8) 50%, rgba(0,0,0,.95) 70%);
  -webkit-background-image: url("iron-grip.png"), -webkit-radial-gradient(circle,rgba(100,100,0,.8) 50%, rgba(0,0,0,.95) 70%);
  background-size: 25em 10em, auto auto;
  background-blend-mode:luminosity;
}
#morganmap-b {
height:60vh;
align-items:center;
justify-content: center;
width:100%;
grid-column:left/span 3;
padding:0;
overflow:hidden;
border-style: solid;
background-image: url("iron-grip.png"), radial-gradient(circle,rgba(100,100,0,.8) 50%, rgba(0,0,0,.95) 70%);
-webkit-background-image: url("iron-grip.png"), -webkit-radial-gradient(circle,rgba(100,100,0,.8) 50%, rgba(0,0,0,.95) 70%);
background-size: 25em 10em, auto auto;
background-blend-mode:luminosity;
}
#placeholder{
  z-index: 0;
  width:100%;
  max-height:100%;
  filter:blur(10px) grayscale(1);
}
#framebutton {
z-index: 1;
position:absolute;
}
#morgantitle {
  all:unset;
  align-self: center;
  text-align: center;
  font-family: "Century Gothic",sans-serif;
  font-size: 1.5em;
  margin-bottom: -1em;
  letter-spacing: .1em;
  color:#fff!important;
  -webkit-text-fill-color: rgba(260, 260, 260, 1);
  text-transform: lowercase;
  grid-column: left/span 3;
  background-color: black;
  box-shadow: 2px 8px 10px 0px black;
  text-shadow: 1px 1px 1px white;
  border-radius: 5px;
}
#subtitle {
  width: 25%;
  background-color: rgba(80,0,0,.5);
  font-family: "Century Gothic",sans-serif;
  letter-spacing: .1em;
  justify-content:center;
  grid-column: left/span 3;
  cursor: pointer;
  margin: auto;
  margin-bottom: -1em;
  box-shadow: 0px 0px 4px 2px;
  transition-duration: .15s;
  -webkit-transition-duration: .15s;
}
#subtitle:hover {
  box-shadow: inset 1px 2px 4px 2px black;
  transition-duration: .15s;
  -webkit-transition-duration: .15s;
}
svg > text  {
  fill:#fff!important;
  opacity: 1;
  fillOpacity:1;
  font-size: .8em;
  font-weight: 700;
  letter-spacing: .25em;
  word-break: keep-all;
  font-family: "Century Gothic",sans-serif;
  filter:url(#shadow);
}
.leaflet-top .leaflet-control-layers {
  font-size: .75em;
  width:auto;
  background-color: rgba(0,0,0,.25);
  border-radius: 10px;
  padding: 1em;
}
img.centerbtn {
  display: block;
  filter:contrast(500%)grayscale(1);
  width:1.9em;
  height:1.9em;
  background:#fff!important;
  border:.5px grey solid;
  cursor:pointer;
  border-radius: 2.5px;
}
.leaflet-bottom .leaflet-control-attribution {
	all:unset;
  line-height: 1em;
  display: block;
  justify-content: center;
  text-align:center;
  font-size: .6em;
	background: rgba(255, 255, 255, 1);
	padding: .2em;
	border-radius: 5px 0px 0px 0px;
  width:60vw;
	}
.leaflet-control-attribution {
  all:unset;
  display: flex;
	padding: 0;
  margin: 0;
}
