

 /* Sidebar/nav Elements*/
 .menu-button {
   z-index: 2;
   background-color: black;
   position: fixed;
   top: 5%;
   width:20em;
   left: -21em;
   border-top-right-radius: 25px;
   border-bottom-right-radius: 25px;
   box-shadow: 0px 5px 2px 1px black;
   -webkit-transition-duration: 0.1s;
   transition-duration: .1s;
 }
 .header {
   z-index: 2;
   background-color: black;
   position: fixed;
   top: 5%;
   width:20em;
   left: -21em;
   border-top-right-radius: 25px;
   border-bottom-right-radius: 25px;
   box-shadow: 0px 5px 2px 1px black;
   -webkit-transition-duration: 0.1s;
   transition-duration: .1s;
 }
     .menu-open .header {
       -webkit-transition-duration: 0.2s;
       transition-duration: .2s;
       left:0;
     }
     .menu-open .menu {
       background-color: white;
       opacity: 1;
       padding-right:0;
       padding-left: 1;
       padding-bottom: 1.5em;
       -webkit-transition-duration: 0.2s;
       transition-duration: .2s;
     }
     .menu-open .menu-title{
       color:white;
       background-color: black;
       opacity: 1;
       -webkit-transition-duration: 0.2s;
       transition-duration: .2s;
     }
     .menu-open .menu .hr1 {
       border-color: maroon;
       background-color: maroon;
       transform-origin: left;
       transform:  translate(0px, 0px) rotate(45deg);
       margin:0;
       width: 3em;
       height: .4em;
       -webkit-transition-duration: 0.1s;
       transition-duration: .1s;
       opacity: 1;
     }
     .menu-open .menu .hr2 {
      opacity: 0;
      -webkit-transition-duration: 0.1s;
      transition-duration: .1s;
     }
     .menu-open .menu .hr3 {
       border-color: maroon;
       background-color: maroon;
       transform-origin: right;
       transform: translate(-11px, -21px) rotate(-45deg);
       margin:0;
       width:3em;
       height: .4em;
       -webkit-transition-duration: 0.1s;
       transition-duration: .1s;
       opacity: 1;
     }

 nav {
   text-align: center;
   width: 75%;
   padding: 2em;
   margin: 1em;
   margin-left: 5em;
   background-image: linear-gradient(225deg, paleturquoise, palegoldenrod, aquamarine, orchid);
   box-shadow: inset 0 0 10px #000000;
 }

 nav a {
    list-style: none;
    display: block;
    margin: 0 auto;
 }

 .nav {
   display:block;
   width: 90%;
   margin-left: auto;
   margin-right: auto;
   background: white;
   text-decoration: overline;
   text-transform: uppercase;
   font-size: 1rem;
   font-weight: 900;
   color: black;
   border: 5px solid black;
   border-radius: 20px 20px 20px 0;
   padding: .7em;
   box-shadow: 8px 5px 1px 1px black;
   -webkit-transition-duration: 0.35s;
   transition-duration: .35s;
 }
  .nav:hover {
     color: white;
     background: black;
     box-shadow: -20px 5px 1px 1px white;
     -webkit-transition-duration: 0.35s;
     transition-duration: .35s;
}
.menu {
  display:block;
  position: fixed;
  left: 1em;
  top: 10%;
  color: orange;
  background: black;
  line-height: 1px;
  padding: 1em;
  border-radius: 10px;
  border: 3px solid goldenrod;
  box-shadow: inset 0px 0px 10px 0px black;
  -webkit-transition-duration: 0.1s;
  transition-duration: .1s;
  opacity: .5;
  animation-name: menu;
  animation-duration: 2s;
  animation-delay: 0s;
  -webkit-animation-name: menu;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 0s;
}

@keyframes menu {
  00%  {color: white;  opacity: 1;}
  100%  {color: orange;  opacity: .5;}
}
@-webkit-keyframes menu {
  00%  {color: white;  opacity: 1;}
  100%  {color: orange;  opacity: .5;}
}

.menu:hover {
  color: black;
  background-color: white;
  opacity: 1;
  -webkit-transition-duration: 0.1s;
  transition-duration: .1s;
}

.menu-title {
  display:flex;
  position:fixed;
  top:5%;
  justify-content: center;
  left: .9em;
  color: grey;
  background-color: white;
  font-size: 20px;
  font-weight:600;
  font-variant: small-caps;
  border-radius: 5px;
  padding: .1em;
  -webkit-transition-duration: 0.2s;
  transition-duration: .2s;
  opacity: .5;
}

.menu .hr1,.hr2,.hr3{
  margin-top:6px;
  margin-bottom:6px;
  margin-left: auto;
  margin-right: auto;
  width: 2em;
  border-style:solid;
  color: inherit;
  border-radius: 50px;
  border-width: 2px;
  -webkit-transition-duration: 0.1s;
  transition-duration: .1s;
}

/*Splash Area*/
.design-title {
  font-family: "Century Gothic", sans-serif;
	font-size: 46px;
  width:100%;
	position:relative;
  top:-.75em;
  text-align: center;
  float: right;
  z-index: 0;
  animation-name: name;
  animation-duration: 1s;
  animation-delay: 0s;
  -webkit-animation-name: name;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 0s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.design-title1 {
  justify-content: center;
  background: aquamarine;
  font-weight: bold;
  font-variant: small-caps;
  letter-spacing: 10px;
  color: black;
  border-bottom: 4px black solid;
  border-left: 1px black solid;
  border-right: 1px black solid;
  border-radius:10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-left: 2em;
  padding-right: 2em;
  margin-left: auto;
  margin-right: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.design-title2 {
  justify-content: center;
  background: brown;
  font-weight: bold;
  font-size: 24px;
  font-variant: small-caps;
  letter-spacing: 10px;
  color: aquamarine;
  border-bottom: 4px black solid;
  border-left: 1px black solid;
  border-right: 1px black solid;
  border-radius:8px;
  padding-left: 2em;
  padding-right: 2em;
  margin-left: auto;
  margin-right: auto;
  -webkit-animation-name: pagetitle;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: .25s;
  animation-name: pagetitle;
  animation-duration: 1s;
  animation-delay: .25s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@keyframes name {
  0%   {top:-5em}
  100% {top:-.75em}
}
@-webkit-keyframes name {
  0%   {top:-5em}
  100% {top:-.75em}
}
@keyframes pagetitle {
  00%  {padding-left: 3em; padding-right: 3em;  letter-spacing: 20px;}
  100%  {padding-left: 2em; padding-right: 2em;  letter-spacing: 10px;}
}
@-webkit-keyframes pagetitle {
  00%  {padding-left: 3em; padding-right: 3em;  letter-spacing: 20px;}
  100%  {padding-left: 2em; padding-right: 2em;  letter-spacing: 10px;}
}
@keyframes alt {
  00%  {opacity: 0;}
  100%  {opacity: 1;}
}
@-webkit-keyframes alt {
  00%  {opacity: 0;}
  100%  {opacity: 1;}
}
.design-header {
  display: block;
  position:relative;
  z-index:1;
  background-image: url("/img/matterhorn.jpg");
  background-size:100% auto;
  background-position:center 25%;
  background-clip: padding-box;
  background-blend-mode:luminosity;
  background-color: none;
  background-repeat: no-repeat;
  border-top: 4px tan solid;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
	height: 15em;
  box-shadow: 10px 5px 25px 5px;
  margin-top: 1.5em;
  margin-bottom: 1em;
  max-width: 1500px;
  animation-name: matterhorn;
  animation-duration: 3s;
  animation-delay: 0s;
  }
.design-header:active .design-title1 {
  background-color: teal;
  color:aquamarine;
  border-color: orange;
}
.design-header:active .design-title2 {
  background-color: teal;
  color:aquamarine;
  border-color: orange;
}
.design-header:active .design-title2::after {
  content: " - Welcome!";
}
.matterhorn-title {
  display: none;
  position: absolute;
  color:yellow;
  font-variant:small-caps;
  font-weight: bold;
  bottom:.25em;
  right: .25em;
  text-align: center;
  background: black;
  padding:.25em;
  border-radius: 3px;
  opacity: .75;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.design-header:active .matterhorn-title {
  display: block;
}
@keyframes matterhorn {
  0% {background-color: white;}
  25%{background-color: white;}
  100% {background-color: none;}
}
@-webkit-keyframes matterhorn {
  0% {background-color: white;}
  25%{background-color: white;}
  100% {background-color: none;}
}

/*Main Building Blocks*/
.card {
  padding: 20px;
  box-shadow: 10px 5px 25px 5px;
  border-radius: 15px;
  margin-top: 1em;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
  background-size: 4em auto;
}
.card-quarter-left {
  display: block;
  position: relative;
  width: 48%;
  height: 38em;
  box-shadow: 10px 5px 25px 5px;
  border-radius: 15px;
  margin-top: 1em;
  margin-right: .5em;
  margin-bottom: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: lightcoral;
}
.card-quarter-right {
  display: block;
  position: relative;
  float:right;
  width: 48%;
  height: 38em;
  padding-top: 1em;
  padding-bottom: 1em;
  box-shadow: 10px 5px 25px 5px;
  border-radius: 15px;
  margin-top: 1em;
  margin-left: .5em;
  margin-bottom: 2em;
  background-color: darkgoldenrod;
}
.card-link {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
}
.leftside {
  display: block;
  position: fixed;
  float: left;
  left:0;
  background-image: url("https://www.transparenttextures.com/patterns/iron-grip.png");
  background-color: tan;
  box-shadow: inset -10px 0px 50px 10px black;
  border-right: 2px ridge white;
  height: 100%;
  width: 12vw;
  top:0;
}

.rightside {
  display: block;
  position: fixed;
  float: right;
  right:0;
  background-image: url("https://www.transparenttextures.com/patterns/iron-grip.png");
  background-color: tan;
  box-shadow: inset 10px 0px 50px 10px black;
  height: 100%;
  width: 12vw;
  bottom:0;
  border-left: 2px ridge white;
}

.general-link {
  display: flex;
  justify-content: center;
  background: none;
  font-weight: bold;
  font-size: 24px;
  text-shadow: 3px 3px 5px aqua;
  font-variant: small-caps;
  letter-spacing: 10px;
  color: white;
  border-top: 4px aqua solid;
  border-left: 1px aqua solid;
  border-right: 1px aqua solid;
  border-radius:15px;
  box-shadow: -5px -5px 20px 10px;
  width: 66%;
  padding: .25em;
  padding-left: 2em;
  padding-right: 2em;
  margin-left: auto;
  margin-right: auto;
  }
.general-link:hover {
  color: white;
  border-color: orange;
  text-shadow: 3px 3px 5px orange;
  text-decoration: overline;
  text-emphasis-position: above;
  }
.column-main hr {
  background-clip: padding-box;
  background-image: url("https://www.transparenttextures.com/patterns/light-wool.png");
  background-color: teal;
  height: 2.5em;
  margin-top: 5em;
  border-left: 1em black solid;
  border-right: 1em black solid;
  box-shadow: inset 0 0 10px #000000;
  }
.inset {
  box-shadow: inset 0 0 10px #000000;
  position: relative;
  padding-top: .5em;
  padding-bottom: .5em;
  border: 2px solid black;
  background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
  background-color: beige;
  width: 75%;
  left: 12.5%;
  border-radius: 20px;
}
article {
  background-color: thistle;
}
article h3{
  color: aquamarine;
  text-shadow: 3px 3px 3px grey;
}

.column-main {
  max-width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-bottom: 5em;
}

* {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "Century Gothic", sans-serif;
  font-size: 18px;
  text-align: left;
  background-image:url("https://www.transparenttextures.com/patterns/wood.png");
  background-color: lightcyan;
}

p {
  font-family: "Century Gothic", sans-serif;
	font-size:20px;
	line-height:28px;
	margin-bottom:1em;
	margin-left:1.5em;
	margin-right:1.5em;
	margin-top:1em;
	text-align: justify;
	text-align-last: center;
}

span.left{
  display: block;
  position: relative;
  text-align: center;
  top:0em;
  left: 0%;
  width: 50%;
  line-height: 1.5;
  font-weight: bolder;
}
span.right{
  display: block;
  position: relative;
  text-align: center;
  font-weight: bolder;
  top:-4.5em;
  right:-50%;
  width: 50%;
  line-height: 1.5;
}
h1 {
  position:relative;
  text-shadow: 3px 3px 3px grey;
  font-size: 24px;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: .5em;
  text-align: center;
  text-align-last: center;
  font-variant: small-caps;
  color: white;
  letter-spacing: 2px;
  line-height: 1.25;
  box-shadow: None;
}
h2 {
  position:relative;
  text-shadow: 3px 3px 3px grey;
  border-radius: 25px;
  background-color: none;
  font-size: 28px;
  margin-bottom: .5em;
  text-align: center;
  font-variant: small-caps;
  color: white;
  letter-spacing: 8px;
  box-shadow: None;
}

h3 {
  position:relative;
  text-shadow: 3px 3px 3px grey;
  border-radius: 25px;
  background-color: none;
  font-size: 28px;
  margin-bottom: .5em;
  text-align: center;
  font-variant: small-caps;
  color: white;
  letter-spacing: 8px;
  box-shadow: None;
}

h4 {
  font-weight: 400;
  text-align: left;
  font-variant: small-caps;
  font-size: 20px;
}

h5 {
  font-size: 18px;
  font-weight: 600;
  font-variant: small-caps;
  margin-left: -3em;
  color: black;
  letter-spacing: 1.25;
  text-shadow: 1px 2px 5px grey;
}

h6 {
  text-align: center;
  font-variant: small-caps;
  font-size: 18px;
  margin-top: .75em;
  font-weight: bolder;
}

.footer {
  z-index: 1;
  display: block;
  text-align: center;
  position: fixed;
  bottom: -3em;
  height: 3em;
  width: 100%;
  background-color:dimgray;
  box-shadow: inset 2px 8px 10px 0px black;
  font-variant: small-caps;
  -webkit-transition-duration: 0.35s;
  transition-duration: .35s;
}
.contact-open .footer {
  transform: translateY(-3em);
  -webkit-transition-duration: 0.25s;
  transition-duration: .25s;
}
.footer:hover .contact {
    background-color: darkslategray;
    -webkit-filter: invert(0);
    filter: invert(0);
}
@media screen and (min-width: 800px) {
  #doublebar span {
    display: none;
  }
  #doublebar:before {
    content: " ║ ";
  }
  #doublebar2 span {
    display: none;
  }
  #doublebar2:before {
    content: " ║ ";
  }
}

.contact {
    height: 2.25em;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background: rgb(105, 105, 105);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: inset 0px 5px 10px 0px white;
    padding-top: 1em;
    padding-bottom: .5em;
    padding-left: 2em;
    padding-right: 2em;
    top: -2.22em;
    -webkit-transition-duration: 0.35s;
    transition-duration: .35s;
}
.contact:hover {
  background-color: black;
  -webkit-transition-duration: 0.35s;
  transition-duration: .35s;
}

.footer-content {
  color: white;
  display: block;
  vertical-align: baseline;
  position: relative;
  top: -5em;
  font-size: 12px;
}

.img-links {
  position: relative;
  vertical-align: middle;
  width: 95px;
  color: white;
  -webkit-filter: invert(1);
  filter: invert(1);
}

video {
  width: 100%;
  border:10px double white;
}
.image {
  width: 100%;
  border: 5px black double;
}
.portfoliopg:after {
  width: 100%;
}
.portfoliopg figcaption {
  display:table-row;
  position:relative;
  top: -1.5em;
  left:-13%;
  float: left;
  z-index: 1;
  width:4%;
  cursor: pointer;
  text-align: center;
  padding: .1px;
  font-size: 24px;
  border-radius: 100px;
  border:1px solid white;
  background: dimgray;
  color:white;
  text-shadow: 1px 1px 3px;
}
.portfoliopg img {
  width:21%;
  z-index:1;
  float: left;
  cursor:pointer;
  margin-top:5px;
  margin-bottom: 1em;
  border-radius: 15px;
  border-top: 4px aqua solid;
  border-left: 2px aqua solid;
  border-right: 2px aqua solid;
  box-shadow: 2px 5px 10px 3px black;
}
.portfoliopg figure:hover img{
  opacity: .75;
  border-color: orange;
}
.portfoliopg figure:hover figcaption{
  opacity: .75;
  color: orange;
  border-color:orange;
}

#showcase {
  border-top: 4px aqua solid;
  border-left: 2px aqua solid;
  border-right: 2px aqua solid;
  border-radius:15px;
  box-shadow: -2px -2px 10px 5px;
  cursor: zoom-in;
  overflow: scroll;
}
.showcase-zoom {
  cursor: zoom-out;
  transform: scale(1.5);
  overflow:scroll;
  z-index: 1;
}
.leftbutton {
  text-align:center;
  float: left;
  background: black;
  color:white;
  width: 45%;
  padding: 1em;
  border-radius: 12px;
  text-decoration: none;
  margin-bottom: 5em;
  box-shadow: 0 9px #999;
  cursor: pointer;
  -webkit-transition-duration: 0.25s;
  transition-duration: .25s;
}

.rightbutton {
  float: right;
  background: black;
  color:white;
  width: 45%;
  padding: 1em;
  border-radius: 12px;
  text-decoration: none;
  text-align: center;
  margin-bottom: 5em;
  box-shadow: 0 9px #999;
  cursor: pointer;
  -webkit-transition-duration: 0.25s;
  transition-duration: .25s;
}
.rightbutton:hover {
  font-weight: 900;
  background: white;
  color: black;
  border: 1px solid black;
  box-shadow: 0 0px #999;
  transform:translateY(.5em);
  -webkit-transition-duration: 0.25s;
  transition-duration: .25s;
  }

.leftbutton:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  font-weight: 900;
  background: white;
  color: black;
  border: 1px solid black;
  box-shadow: 0 0px #999;
  transform:translateY(.5em);
  -webkit-transition-duration: 0.25s;
  transition-duration: .25s;
}

/* Resume Elements*/
.resume-dates {
  float: right;
  position: relative;
  text-align: center;
  font-size: 18px;
  top: .25em;
  font-variant: small-caps;
  margin-left: 1em;
  margin-right: .75em;
}

.resume-description {
  font-weight: 500;
  list-style: circle;
  line-height: 1.1;
  list-style-position:inside;
  margin-left: 3em;
  margin-right: 3em;
  word-spacing: .15em;
  text-align: left;
  text-shadow: 1px 2px 3px grey;
}

/*images etc */
.square-logo {
	float:right;
  display: none;
	position: relative;
	height: 10em;
	right: 2em;
	top: 2em;
  z-index: 4;
  border-radius: 50px;
  box-shadow: 2px 5px 10px 3px;
}

.aboutme-rutgerslogo {
  border-radius: 0px;
  display: block;
  position: relative;
  float: left;
  z-index: 1;
  margin-right: 1em;
  margin-left: -8em;
  box-shadow: 1px 1px 10px 1px;
  width: 8em;
  border-radius: 15px;
  border-top-right-radius: 0px;
}

.aboutme-gwlogo {
  border-radius: 0px;
  display: block;
  position: relative;
  float: left;
  z-index: 1;
  margin-right: 1em;
  margin-left: -6em;
  box-shadow: 1px 1px 10px 1px;
  width: 6em;
  background:white;
  border: .25em solid white;
  border-radius: 15px;
  border-top-right-radius: 0px;
}
.look-button {
  display: block;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .5em;
  -webkit-transition-duration: .25s;
  transition-duration: .25s;
}
.look-button:hover {
  -webkit-filter: invert(1);
  filter: invert(1);
  transform: scale(1.1);
  -webkit-transition-duration: .25s;
  transition-duration: .25s;
}

/* Screen Compatibility*/
@media screen and (max-width: 800px) {
  .column-main {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .menu {
    display:block;
    position: fixed;
    top:0;
    margin-left: 10px;
    margin-right: auto;
    transform: rotate(90deg);
    opacity: .5;
  }
  .menu-title {
    top: .5em;
    left: 4.4em;
    border-radius:5px;
    padding: .5em;
    padding-right: .5em;
    transform: rotate(0);
    text-align: center;
    opacity: .5;
  }
  .card {
    margin-left: 0em;
    margin-right: 0em;
    padding-left: 0;
    padding-right: 0;
  }
  .card-quarter-left {
    width:100%;
    float: none;
    margin-left: 0em;
    margin-right: 0em;
    padding-left: 1em;
    padding-right: 1em;
    height:auto;
  }
  .card-quarter-right {
    width:100%;
    float:none;
    margin-left: 0em;
    margin-right: 0em;
    padding-left: 1em;
    padding-right: 1em;
    height:auto;
  }
  .leftside {
    display: none;
  }
  .rightside {
    display:none;
  }
  p {
    margin-left: 1em;
    margin-right: 1em;
  }
  .header {
    width:100%;
    left: -101%;
    top: 2.75em;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  h1,h2,h3,h4 {
    margin-left: .75em;
    margin-right: .75em;

  }
  h5 {
    margin-left: -.5em;
    margin-right: .75em;

  }
  .design-header {
    width:100%;
    margin-top:5em;
    display: flex;
    background-size: 100%;
    background-image: url("/img/matterhorn-1.jpg");
  }
  .design-title {
    display: block;
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: .75em;
    font-size: 41px;
    top: -.5em;
    animation-name: none;
    -webkit-animation-name: none;
  }
  .design-title1 {
    letter-spacing: 5px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius:10px;
    margin-left: auto;
    margin-right: auto;
    animation-name: alt;
    animation-duration: 2s;
    animation-delay: 0s;
    -webkit-animation-name:alt;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 0s;
  }
  .design-title2 {
    padding: 5px;
    letter-spacing: 1.25px;
    animation-name: alt;
    animation-duration: 2s;
    animation-delay: 0s;
    -webkit-animation-name:alt;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 0s;
  }
  .square-logo {
    display: none;
  }
  nav {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    }
  nav a {
    margin-bottom: 1em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .general-link {
    width: auto;
    margin:.5em;
    letter-spacing: .5;
  }
  .aboutme-rutgerslogo {
    display: none;
  }

  .aboutme-gwlogo {
    display: none;
  }
  .inset {
    width: 95%;
    left: 2.5%;
  }
  .resume-description {
    margin-left: 1em;
    margin-right: 1em;
    font-weight: normal;
  }
  .leftbutton {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    float: none;
  }
  .rightbutton {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    float: none;
  }
  .footer {
    position:relative;
    box-shadow: none;
    background-color: black;
    line-height:2em;
    padding-top: 1em;
    margin:auto;
    width:100%;
    height: auto;
  }
  .footer:hover {
    transform: none;
  }
  .footer-content {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .contact {
      display: none;
  }
  .look-button {
      width: 50%;
  }
  span.left{
    display:inline-block;
    position: inherit;
    text-align: center;
    top:none;
    width: 100%;
    line-height: 1.5;
    font-weight: bolder;
    margin-bottom: 1em;
  }
  span.right{
    display: inline-block;
    position:inherit;
    text-align: center;
    font-weight: bolder;
    top:none;
    right:none;
    width: 100%;
    line-height: 1.5;
    margin-bottom: 1em;
  }
  .videos{
    display:none;
  }
  .gifs{
    display:block;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-radius: 25px;
    border: 1px white solid;
  }
}
