@import url("https://use.typekit.net/swe7vic.css");
#header {
  z-index: 99;
  display: grid;
  grid-template: 2fr 10.5fr 10.5fr 2fr/4fr 40fr 60fr 4fr;
  grid-gap: 0;
  width: 100%;
  height: 29vh;
  top:0;
  margin: 0 0 -8vh 0;
  padding: 0 0 7vh 0;
  background: url("iron-grip.png"), dimgray;
  background-size: 10rem 10rem,auto;
  box-shadow: inset 0 0 2rem 0 black;
  animation: matterhorn 1s ease-in-out 0s;
}
@keyframes matterhorn {
0% {background-color: black;}
50% {background-color: lightyellow;}
100% {background-color: dimgray;}
}
.matterhorn {
  grid-area: 2 / 3 / span 1 / span 1;
  vertical-align: top;
}
.matterhorn img {
  object-position: center 22%;
  object-fit: cover;
  width:60vw;
  height: 5rem;
  border: .2vw inset aquamarine;
  border-radius: 0px .75rem .75rem .75rem;
  box-shadow: 0px .5rem 1.5rem -.5rem black;
}
.design-title1 {
  display: flex;
  grid-area: 3 / 1 / span 1 / span 4;
  font-family: "Century Gothic", sans-serif;
  color: white;
  -webkit-text-fill-color: rgba(260, 260, 260, 1);
  text-align: center;
  font-weight: bolder;
  text-transform: lowercase;
  font-size: calc(20px + .75vh);
  line-height: calc(1em + 0.3vh);
  letter-spacing: calc(.15em + .1vw);
  text-shadow: .1rem .1rem .75rem lightyellow;
  justify-content: center;
  align-items: center;
  animation: name 1.25s ease-in-out 0s;
  transition-duration: .35s;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
@keyframes name {
  0%   {opacity: 0;-webkit-text-fill-color:purple}
  100% {opacity: 1;-webkit-text-fill-color:white}
}
.design-title2 {
  grid-area: 2 / 2 / span 1 / span 1;
  align-self:top;
  font-family: inherit;
  text-align: center;
  text-transform: lowercase;
  font-size: calc(8px + 0.175vw);
  line-height: calc(1em + 0.3333vw);
  letter-spacing: calc(.25em + .1vw);
  max-height: 3em;
  background: url("iron-grip.png"),rgba(0, 255, 191,1);
  background-size: 10em 10em,auto;
  padding:0 1vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: .2vw inset aquamarine;
  border-right: none;
  border-radius: 10rem 0 0 10rem;
  box-shadow: 0px .5rem 1.5rem -.5rem black;
}
#topnav {
  font:inherit;
  display: grid;
  grid-template: 9vh auto/0fr 100fr 0fr;
  width:100%;
  max-width:100vw;
  height: 15vh;
  padding: 0;
  margin: 0;
}
#topnav ul {
  grid-area:1/ 1/ 1/ span all;
  display: flex;
  border: black inset;
  border-width: .33rem .1rem .1rem .1rem;
  height: 9vh;
  padding: 0 2vw;
  justify-content:center;
  background: url("iron-grip.png"),rgba(250,200,200,.75);
  background-size: 10rem 10rem,auto;
  box-shadow: 0 0 .75rem .05rem;
  transition-duration: .35s;
  -webkit-transition-duration:.35s;
}
#topnav li.nav-item{
  grid-row: 1;
  display: flex;
  flex-direction: row;
  list-style: none;
  z-index: 99;
  -webkit-transition-duration:.35s;
  transition-duration: .35s;
  padding: .1rem;
}
#topnav li .nav-link {
  cursor: pointer;
  display: flex;
  padding: .1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
  text-transform: lowercase;
  border: .05rem black solid;
  border-radius: 1rem;
  background: radial-gradient(white 0%,white 50%, gray 100%),white;
  -webkit-transition-duration: 0.35s;
  transition-duration: .35s;
}
#topnav:before {
  grid-area:2/ 1/ span 1/span 1;
  content: "";
  height:0;
  width: 0;
  z-index: 99;
  margin: 0 auto 0 1vw;
  border-top: 3vw solid black;
  border-left:2vw solid transparent;
}
#topnav:after {
  grid-area:2/ 3/ span 1/span 1;
  content: "";
  height:0;
  width: 0;
  z-index: 99;
  margin: 0 1vw 0 auto;
  border-top: 3vw solid black;
  border-right:2vw solid transparent;
}
#dropdown-title {
  cursor: pointer;
  display: flex;
  width: 75%;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  padding: auto;
  background: radial-gradient(white 0%,white 50%, gray 100%),white;
  text-align: center;
  text-transform: lowercase;
  border: black solid;
  border-width: .05rem 0 .05rem .05rem;
  border-radius: 1rem 0px 0px 1rem;
  -webkit-transition-duration: 0.35s;
  transition-duration: .35s;
}
#dropdown-title-btn {
  cursor: pointer;
  display: flex;
  width: 25%;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  padding: .1rem;
  background: radial-gradient(circle,rgba(250,200,200) 0%, rgba(100,0,0) 100%);
  color:white;
  -webkit-text-fill-color: white;
  border: black solid;
  border-width: .05rem .05rem .05rem 0rem;
  border-radius: 0 1rem 1rem 0;
  -webkit-transition-duration: 0.35s;
  transition-duration: .35s;
}
#dropdown {
  z-index: 98;
  list-style: none;
  background: unset;
  background:url("iron-grip.png"), linear-gradient(to right,rgba(250,200,200,.5) 0%, rgba(250,200,200,.75) 10%, rgba(250,200,200,.75) 90%,rgba(250,200,200,.5) 100%);
  -webkit-background:url("iron-grip.png"), -webkit-linear-gradient(to right,rgba(260,260,260,.25) 0%, rgba(260,260,260,.75) 10%, rgba(260,260,260,.75) 90%,rgba(260,260,260,.25) 100%);
  background-size: 10em 10em,auto auto;
  box-shadow: 0 0 .75rem .05rem;
  border: none;
  border-radius: 1rem;
  -webkit-transition-duration:.35s;
  transition-duration: .35s;
}
#dropdown a {
  cursor: pointer;
 z-index: 98;
 width: auto;
 display: flex;
 justify-content:center;
 align-self: stretch;
 align-items: flex-end;
 margin:.5rem;
 background: white;
 text-transform: lowercase;
 color: black;
 border-radius: 1rem 0;
 box-shadow: 0 0 .25rem .05rem black;
 padding: .33rem;
 -webkit-transition-duration: 0.35s;
 transition-duration: .35s;
}
#topnav .active:first-child,#dropdown .dropdown-item.active {
  color: white;
  text-shadow: .05rem .05rem .75rem lightyellow;
  background: url("iron-grip.png"),radial-gradient(dimgray 0%,dimgray 50%, black 100%),dimgray;
  background-size: 10em 10em,auto, auto;
  background-blend-mode:hard-light;
  border-color: grey;
}
#topnav.sticky {
 position: fixed;
 z-index: 98;
 top: 2rem;
 width:100%;
 -webkit-transition-duration:.35s;
 transition-duration: .35s;
}
.stickytitle {
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  left:0;
  text-align: center;
  background:url("iron-grip.png"), rgba(250,200,200,.75);
  background-size: 10em 10em,auto;
  color:white;
  -webkit-text-fill-color: white;
  padding: .15rem 0 0 0;
  height: 2.1rem;
  font-size: 1.25rem;
  text-shadow: .15rem .15rem .05rem red;
  border: black inset;
  border-width:0rem .1rem;
}
#column-main {
  position:absolute;
  font:inherit;
  width:100%;
  display: grid;
  grid-template: [splash] auto [splash-b] auto repeat(6, auto)/
  [l-gutter] 3fr [useless-l] 1fr [left] 94fr [c-gutter] 0fr [right] 0fr [useless-r] 1fr [r-gutter] 3fr;
  grid-gap: 2.5vh 0;
  justify-content: center;
  margin: 0 0 10vh 0;
  top:35vh;
 }
 #column-main:before {
   position: fixed;
   content:'';
   z-index: -2;
   top:0;
   left:0;
   -webkit-transition-duration:.15s;
   transition-duration: .15s;
   grid-area:1/ l-gutter / span 8/span 1;
   box-shadow: inset 0 0 .25rem .05rem;
   background: linear-gradient(rgba(0,0,0,.5),rgba(0,100,100,.25),black);
   height: 100%;
   width:3vw;
 }
 #column-main:after {
  position: fixed;
  content:'';
  z-index: -2;
  top:0;
  right:0;
  -webkit-transition-duration:.15s;
  transition-duration: .15s;
  grid-area:1/ r-gutter / span 8/span 1;
  box-shadow: inset 0 0 .25rem .05rem;
  background: linear-gradient(rgba(0,0,0,.5),rgba(0,100,100,.25),black);
  height: 100%;
  width:3vw;
  }
 #column-main hr {
   grid-column: 3 / span 3;
   background-image: linear-gradient(to right,rgba(0,100,100,1) 0%,aquamarine 20%, lightyellow 50%, aquamarine 80%,rgba(0,100,100,1) 100%);
   box-shadow: 0px .1rem .95rem 0px rgba(0, 0, 0,.5);
   border-top:1px white solid;
   border-radius: 20px;
   width: 100%;
   height: .5rem;
 }
.card {
  grid-column: left/span 3;
  box-shadow:inset 0px 0px 1rem .5rem black;
  border:.5rem ridge dimgrey;
  border-radius:.75rem;
  display:flex;
  padding: .75rem;
  flex-direction: column;
  justify-content:center;
  background: url("mocha-grunge.png"), black;
  background-size: 5rem 5rem,auto;
  background-blend-mode:screen;
}
.card-left, .card-right {
  font:inherit;
  -webkit-text-fill-color: rgba(260, 260, 260, 1);
  margin: 0;
  display:flex;
  flex-direction: column;
  padding: .5rem;
  border-radius: 2.5px;
  justify-content:center;
  background: url("mocha-grunge.png"), linear-gradient(rgba(0,0,0,.5),rgba(0,50,50,.5),black);
    -webkit-background: url("mocha-grunge.png"), -webkit-linear-gradient(rgba(0,0,0,.5),rgba(0,50,50,.5),black);
  background-size: 10rem 10rem,auto;
  background-blend-mode:screen;
  box-shadow: inset 0 0 .3rem .1rem black;
}
.card-left {
 grid-column: left/span 3;
}
 .card-left img {
   box-shadow: 0 0 1rem .1rem black;
   border:.25em solid black;
   border-radius: .5rem;
   max-height:33vh;
   max-width:30vw;
 }
 .card-left i {
   text-align: center;
   font-size: 1.5rem;
   margin:0 0 .5rem 0;
 }
.card-right {
 grid-column: left/span 3;
}
 .card-right h3 {
   margin: .5rem;
   font-size: 1.25rem;
 }
.general-link, .link {
  display: flex;
  font-size:1rem;
  justify-content: center;
  width: 66%;
  border: white solid;
  border-width: 0px 1px 4px 1px;
  border-radius: 8px;
  color: white;
  -webkit-text-fill-color: white;
  text-align: center;
  background-image: radial-gradient(rgba(0,0,0,0) 50%, rgba(55, 250, 150,.5) 100%);
  text-shadow: 3px 3px 5px rgba(55, 250, 150,.75);
  box-shadow: 0px -5px 8px 0px rgba(55, 250, 150,.75);
  padding: .15rem;
  margin: 2vh auto;
  }
  .link {width: 95%;}
  .linkCounter {
    position: relative;
    color: white;
    -webkit-text-fill-color: white;
    line-height: 1em;
    border: .1em rgba(260,260,260,1) solid;
    border-top: none;
    padding: .25em .75em .25em .75em;
    border-radius: 0px 0px 5px 5px;
    margin: -2vh auto auto auto;
    font-size: .66em;
    font-family: inherit;
  }
  .general-link:hover, .link:hover {
  color: rgba(200, 250, 0);
  -webkit-text-fill-color:  rgba(200, 250, 0);
  background-image: radial-gradient(rgba(0,0,0,.75) 0%, rgba(100, 100, 100,.25) 100%);
  border-color:rgba(200, 250, 0);
  border-width: 2px 1px 2px 1px;
  text-shadow:0px 0px 10px yellow;
  box-shadow: inset 0px 5px 5px 1px black;
  -webkit-transition-duration:.15s;
  transition-duration: .15s;
  }
.progress {
  align-self:flex-end;
  height: 1.75rem;
  background-color: rgba(0,0,0,0);
  box-shadow: inset 0px 0px 1rem .05rem dimgray;
}
* {
  font:inherit;
  box-sizing: border-box;
}
button,a {
  all:unset;
 text-decoration: none;
  cursor: pointer;
}
kbd {
  background-color: dimgray;
}
body {
  margin:unset;
  overflow-x: hidden;
  font-family: "Century Gothic", Georgia, sans-serif;
  font-size: calc(16.4px + 0.175vw);
  line-height: calc(1.5em + 0.3333vw);
  letter-spacing: calc(.025em + .1vw);
  max-width: 100%;
  background-image: url("wood.png");;
  background-color: antiquewhite;
  background-size:10em 100em;
}
p {
  text-indent: 1em;
 text-align: left;
 text-align-last: left;
}
aside {
  font:inherit;
  display: flex;
  flex-direction: column;
  color:#fff;
  -webkit-text-fill-color: rgba(260, 260, 260, 1);
  border-radius: .5rem;
  background: url("mocha-grunge.png"), darkslategray;
  background-size: 10rem 10rem,auto;
  background-blend-mode:luminosity;
  padding: .5rem;
  margin: -.25rem -.25rem .25rem -.25rem;
  line-height:1rem;
  box-shadow: 0 0 .5rem .2rem black;
}
aside p {
  display: none;
}
article {
  grid-column: left/span 3;
  border-radius: .25rem;
  text-indent: 1rem;
  padding: 1rem;
  background: url("mocha-grunge.png"),lightcyan;
  background-size: 10rem 5rem;
  box-shadow: inset 0 0 .5rem 0;
}
  #art-head {
    margin-bottom: .35rem;
  }
  article h3 {
    font-size: 1.5rem;
    padding: .25rem;
    font-weight: bold;
    border: .1rem rgba(0,0,0,1) solid;
    background-color: rgba(100,100,100,.25);
    border-radius: 5px;
  }
#expandtab {
  cursor:row-resize;
  display:flex;
  justify-content:center;
  width:75%;
  margin: auto;
  padding: 5px;
  border-top: 1px black solid;
  color:rgba(260,260,0,1);
  -webkit-text-fill-color: rgba(260,260,260,1);
}
  #expandtab:hover {
    color:black;
    -webkit-text-fill-color:black;
  }
#collapser1,#collapser2 {
  display:flex;
  font-size: 2rem;
  text-shadow: 0px 0px 15px dimgrey;
  transition-duration: .25s;
    -webkit-transition-duration: 0.25s;
}
#expandtab:hover #collapser1:before,
#expandtab:hover #collapser1:after {
  content: 'show';}
#expandtab:hover #collapser2:before,
#expandtab:hover #collapser2:after {
  content: 'hide';}
#expandtab:hover #collapser1:before,
#expandtab:hover #collapser1:after,
#expandtab:hover #collapser2:before,
#expandtab:hover #collapser2:after {
  font-size: 1rem;
  margin: unset 1rem;
}
#wordCounter1 {
  float: left;
  width:100%;
  margin-top: .25rem;
  margin-bottom: auto;
  font-size: .75rem;
}
h1 {
  grid-column: left/span 3;
 text-shadow: 3px 3px 3px grey;
 font-size: 2rem;
 font-weight: lighter;
 margin: 0 1rem .5rem 1rem;
 text-align:center;
 color:#fff!important;
 -webkit-text-fill-color: rgba(260, 260, 260, 1);
 letter-spacing:.15rem;
}
h2 {
 text-shadow: 3px 3px 3px grey;
 font-size: 2rem;
 margin-bottom: .5rem;
 text-transform: lowercase;
 color: rgba(260, 260, 260, 1);
 -webkit-text-fill-color: rgba(260, 260, 260, 1);
}

h3 {
  font-size: 1.25em;
 position:relative;
 text-shadow: 3px 3px 3px grey;
 border-radius: 25px;
 margin-bottom: unset;
 text-align: center;
 color: #fff !important;
 -webkit-text-fill-color: rgba(260, 260, 260, 1);
 letter-spacing: .2em;
 box-shadow: None;
}

h4 {
font-size: 1rem;
padding-top: .25rem;
 text-align: center;
 margin:0 1.5em;
 border: 2px black solid;
 border-top: none;
 border-radius: 0px 0px 5px 5px;
}

h5 {
  text-align:center;
  margin: 0;
  font-size: 1rem;
  letter-spacing: 1.25;
}
h6 {
 text-align: center;
 font-size: 1em;
 margin-top: .25em;
 font-weight:normal;
}
h6 a:hover {
 color:orange
}
#title {
  font-size: 2rem;
}
#buildfly {
  all:unset;
  grid-area: 2 /left / span 1/span 1;
  grid-row: splash;
  grid-column: left/span 3;
  display: block;
  max-height: 50vh;
  max-width: 75vw;
  margin: auto;
  align-content: center;
  z-index: 0;
  border: .25rem aquamarine inset;
  box-shadow: .15rem .15rem 1.5rem .15rem aqua;
}
#artistic {
  all:unset;
  grid-area: 2 /left / span 1/span 1;
  display: block;
  max-height: 50vh;
  max-width: 75vw;
  margin: auto;
  align-content: center;
  z-index: 0;
  border: .25rem aquamarine inset;
  box-shadow: .15rem .15rem 1.5rem .15rem aqua;
}
.arrow-1 {
  grid-column: left/ span 3;
  color: aqua;
  -webkit-text-fill-color: aqua;
  text-align: center;
  font-size: 2rem;
}
.arrow-2 {display: none;}
#planimgs {
  grid-area: 5 / left/span 1/span 3;
  flex-direction: column;
  background: url('natural-paper.png'),linear-gradient(to right,rgba(260,260,260,.75) 0%, rgba(200,100,0,.5) 10%, rgba(200,100,0,.5) 90%,rgba(260,260,2600.75) 100%);
  -webkit-background: url('natural-paper.png'),-webkit-linear-gradient(to right,rgba(260,260,260,.75) 0%, rgba(200,100,0,.5) 10%, rgba(200,100,0,.5) 90%,rgba(260,260,2600.75) 100%);
  background-size: 10rem 10rem,auto;
  box-shadow: inset 0 0 .3rem 0 black;
  max-height: 66vh;
  width:100%;
}
#planimgs h1 {font-size: 2rem;}
#planimgs-grp {flex-direction:column;}
#planimgs-grp img {display: block;
  max-height: 50vh;
  margin-bottom: 1rem;
}
#buttongroup {flex-direction: row;}
#button1 {
display: flex;
color:white;
justify-content: center;
width: 6rem;
cursor: pointer;
text-shadow: .25px .25rem .45rem black;
text-transform: lowercase;
border: solid;
border-color:  grey dimgray dimgray dimgray;
border-width: .03rem .015rem;
border-radius: .75rem 0 0 .75rem;
-webkit-transition-duration: 0.25s;
transition-duration: .25s;
}
#button2 {
display: flex;
justify-content: center;
width: 6rem;
cursor: pointer;
text-align: center;
text-shadow: .25px .25rem .45rem black;
text-transform: lowercase;
border: solid;
border-color:  grey dimgray dimgray dimgray;
border-width: .03rem .015rem;
border-radius: 0 .75rem .75rem 0;
-webkit-transition-duration: 0.25s;
transition-duration: .25s;
}
.activate {
  background:radial-gradient(rgba(200,200,0,1) 50%, grey 95%);
  color: mintcream;
  -webkit-text-fill-color: mintcream;
  box-shadow:inset 0 .33rem .33rem .05rem black;
  text-shadow: .25rem .25rem .05rem darkorange;
  border: black solid;
  border-width: 4 2 1 1;
  -webkit-transition-duration: 0.25s;
  transition-duration: .25s;
}
.deactivate {
  background:radial-gradient(dimgray 50%, rgba(0,0,0,.5) 100%);
  color:mintcream;
  -webkit-text-fill-color: mintcream;
  box-shadow:0 .33rem .5rem .1rem black;
  text-shadow: .2rem .2rem .15rem purple;
  border:black solid;
  border-color:  grey dimgray dimgray dimgray;
  border-width: .03rem .015rem;
  -webkit-transition-duration: 0.25s;
  transition-duration: .25s;
}
#imgarray {
  grid-area: 7/left/span 1/span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("iron-grip.png"),linear-gradient(to right,rgba(0,100,100,.25) 0%,rgba(100,200,200,.25) 10%, rgba(100,200,200,.25) 90% ,rgba(0,100,100,.25) 100%);
  background-blend-mode:overlay;
  background-size: 10rem 10rem,auto;
  box-shadow: inset 0 0 1rem 0 black;
  width:100%;
  height:55vh;
  border-radius: .5rem;
  margin-bottom: 3rem;
}
#imgarray:hover #carrot1,#imgarray:hover #carrot2 {
  -webkit-transition-duration:.25s;
  transition-duration: .25s;
  font-size: 3rem;
  opacity: .75;
}
#imgarray .carousel-item {height: 60vh;}
#imgarray img {
  max-width:100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border-radius: 1rem;
  touch-action: auto;
}
#imgarray .carousel-inner {height:90%;}
#imgarray .carousel-inner .carousel-item {height: 100%;width:100%;}
#carrot-cake {
  all:unset;
  display: flex;
  flex-direction: row;
  position: absolute;
  grid-area: 6/ left/ span 2/ span 3;
  width:100%;
  height: 100%;
  z-index: 9;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
#viewcap{
  align-self:flex-start;
  text-align: center;
  width:100%;
  flex-wrap: nowrap;
  color: #ffc107;
  -webkit-text-fill-color: #ffc107;
  font-size: 1.5rem;
  letter-spacing: .15rem;
  text-shadow: 2px 2px 2px black;
  -webkit-transition-duration:.7s;
  transition-duration: .7s;
}
.popover {
  color: white;
  -webkit-text-fill-color: white;
  font: inherit;
  font-size: .66rem;
  line-height: 1rem;
  background-color: rgba(0,0,0,.5);
  border:none;
  width: 90vw;
  text-align: center;
  margin: 70% auto 0 auto;
}
#carrot1 {
  cursor: pointer;
  display: flex;
  text-align: left;
  align-self:center;
  align-items: center;
  color: #ffc107;
  -webkit-text-fill-color: #ffc107;
  opacity: 1;
  padding: .15em;
  font-size: 4em;
  line-height:50%;
  text-shadow: 2px 2px 2px;
  -webkit-transition-duration:.25s;
  transition-duration: .25s;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
#carrot2 {
  cursor: pointer;
  display: flex;
  text-align: right;
  align-self:center;
  align-items: center;
  color: #ffc107;
  -webkit-text-fill-color: #ffc107;
  opacity: 1;
  padding: .15em;
  font-size: 3em;
  line-height:50%;
  text-shadow: .2rem .2rem .2rem;
  -webkit-transition-duration:.25s;
  transition-duration: .25s;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
#carrot1:hover,#carrot2:hover {
  text-shadow: 2px 2px 2px #ffc107;
  color: salmon;
  text-decoration:none;
  -webkit-text-fill-color: salmon;
  box-shadow: inset 0px 0px 5px 2px salmon;
  border-color:white;
  border-radius: 100px;
  opacity: 1;
  -webkit-transition-duration:.1s;
  transition-duration: .1s;
}
#carrot1:active,#carrot2:active {
  text-shadow: 2px 2px 2px salmon;
  animation-name: arrowbig;
  animation-delay:0s;
  animation-duration: .1s;
}
@keyframes arrowbig {
  0% {transform:scale(1)}
  50% {transform: scale(1.25)}
  100% {transform: scale(1)}
}
footer {
  z-index: 99;
  width: 100%;
  max-height: 13vh;
  color: #fff !important;
  -webkit-text-fill-color: white;
  font:inherit;
  justify-content:center;
  align-items: center;
  text-align: center;
}
footer #dropup {
  font-size: .66rem;
  padding: auto;
  margin: auto;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
}
#dropup button{
  box-shadow: 0 0 .25rem 0 black;
  border-radius: 1rem 1rem 0 0;
  background: url("iron-grip.png"),black;
  background-size: 10rem 10rem,auto;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
}
#footbutton {
  display: flex;
  width: 80vw;
  height:1.25rem;
  justify-content:center;
  align-items:center;
  font:inherit;
  line-height: 0;
  flex-wrap: nowrap;
}
#footbutton i {font-size: 1rem;margin: auto;}
#footbutton kbd {
  font:inherit;
  background: url("iron-grip.png"),black;
  background-size: 10em 10em,auto;
  margin: auto;
  flex-wrap: nowrap;
}
#footer-dropdown {
  font:inherit;
  width: 87vw;
  border-radius: 1rem;
  margin:0 0 .45rem 0;
  background: url("iron-grip.png"),dimgray;
  background-size: 10rem 10rem;
  box-shadow: inset 0 0 1.5rem 0 black;
  color: aquamarine;
  -webkit-text-fill-color: aquamarine;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
}
.changecolor {
  color:aquamarine;
  -webkit-text-fill-color: aquamarine;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
}
.address::before {
  content:"521 Washington St #3, Hoboken, NJ 07030";
}
.address::after{
content: "\A";
  white-space: pre;
}
.tel::after {
  content: "(202) 681-1138 ║ nterwin714@gmail.com";
}
.linked i{
  font-size: 1.25rem;
  vertical-align:middle;
}
.linked::after {
  content:"|nterwin714";
}
.ba-slider {
  all:unset;
  font:inherit;
  position:relative;
  display: flex;
  border: inset black;
  border-width:  .5vh .5vw .5vh .5vw;
  border-radius: 1rem;
  align-content: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  overflow: hidden;
}
.ba-slider img {
  display: block;
  height: 48vmin;
  width:100%;
  vertical-align: middle;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.resize {
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 48vmin;
  overflow: hidden;
}
.handle {
  left:50%;
  top:0;
  bottom:0;
  margin-left:-2px;
  display: flex;
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  width: .75rem;
  align-self:center;
  justify-content: center;
  background: radial-gradient(dimgray 0%,dimgray 25%,white 100%) aquamarine center no-repeat;
  background-size: 1em 10em,auto;
  border: .1vw white solid;
  border-top:2vh black solid;
  border-bottom:2vh black solid;
  box-shadow: 0 0 5rem 0 lightyellow;
}
.handle:hover {
  background-color: lightsalmon;
  border-color: salmon;
  box-shadow: 0px 0px 5rem 0px lightsalmon;
}
.handle:after,
.handle:before {
  cursor: pointer;
  align-self:center;
  color: aquamarine;
  -webkit-text-fill-color: rgba(127,255,212, 1);
  padding: 1rem;
  font-size: 4rem;
  text-shadow: .1rem .1rem .1rem white;
  -webkit-transition-duration:.25s;
  transition-duration: .25s;
}
.handle:before{content:"<";}
.handle:after{content:">";}
.draggable:before,
.draggable:after {
  color:yellow;
  -webkit-text-fill-color: rgba(127,255,212, 1);
  opacity:0;
  -webkit-transition-duration:1s;
  transition-duration: 1s;
}
.draggable:before {content:"<<";}
.draggable:after {content:">>";}
#morganmap {
  width: 100%;
	height: 60vh;
  padding: 0;
  margin: 0;
  z-index: 0;
  background: url("iron-grip.png"), radial-gradient(circle,rgba(100,100,0,.8) 50%, rgba(0,0,0,.95) 70%);
  -webkit-background: url("iron-grip.png"), -webkit-radial-gradient(circle,rgba(100,100,0,.8) 50%, rgba(0,0,0,.95) 70%);
  background-size: 25em 10em, auto auto;
  background-blend-mode:luminosity;
}
#morganmap-b {
height:60vh;
align-items:center;
justify-content: center;
width:100%;
grid-column:left/span 3;
padding:0;
overflow:hidden;
background: url("iron-grip.png"), radial-gradient(circle,rgba(100,100,0,.8) 50%, rgba(0,0,0,.95) 70%);
-webkit-background: url("iron-grip.png"), -webkit-radial-gradient(circle,rgba(100,100,0,.8) 50%, rgba(0,0,0,.95) 70%);
background-size: 25rem 10rem, auto auto;
background-blend-mode:luminosity;
}
#placeholder{
  z-index: 0;
  width:100%;
  max-height:100%;
  filter:blur(3px)contrast(50%);
}
#framebutton {
z-index: 1;
position:absolute;
}
svg > text  {
  fill:#fff!important;
  opacity: 1;
  fillOpacity:1;
  font-size: .66rem;
  font-weight: 700;
  letter-spacing: .25rem;
  word-break: keep-all;
  font-family: "Century Gothic",sans-serif;
  filter:url(#shadow);
}
.leaflet-top .leaflet-control-layers {
  font-size: .33rem;
  margin: auto;
  background-color: rgba(0,0,0,.25);
  border-radius: 0 0 0 .5rem;
  padding: .25rem;
}
img.centerbtn {
  display: block;
  filter:contrast(500%)grayscale(1);
  width:1.75rem;
  height:1.75rem;
  background:#fff!important;
  border:.01rem grey solid;
  cursor:pointer;
  border-radius: .15rem;
}
.leaflet-bottom .leaflet-control-attribution {
	all:unset;
  line-height: .33rem;
  display: block;
  justify-content: center;
  text-align:center;
  font-size: .4rem;
	background: rgba(255, 255, 255, 1);
	padding: .1rem;
	border-radius: .5rem 0 0 0;
  width:60vw;
	}
.leaflet-control-attribution {
  all:unset
  display: flex;
	padding: 0;
  margin: 0;
}
.leaflet-control-zoom{
  display: none;
}
#morganModal1 {
  font:inherit;
  font-size: .75rem
}
