@import url("https://use.typekit.net/swe7vic.css");
#header {
  z-index: 99;
  display: grid;
  grid-template: 2fr 11fr 5fr 2fr/7fr 43fr 43fr 7fr;
  grid-gap: 0;
  width: 100%;
  height: 29vh;
  top:0;
  margin: 0 0 -8vh 0;
  padding: 0 0 7vh 0;
  background: url("iron-grip.png"), dimgray;
  background-size: 10rem 10rem,auto;
  box-shadow: inset 0 0 2rem 0 black;
  animation: matterhorn 1s linear 0s;
}
@keyframes matterhorn {
0% {background-color: black;}
50% {background-color: lightyellow;}
100% {background-color: dimgray;}
}
.matterhorn {
  grid-area: 2 / 3 / span 1 / span 1;
  vertical-align: top;
  border-radius: 10px;
}
.matterhorn img {
  object-position: center 22%;
  object-fit: cover;
  width:43vw;
  height: 11vh;
  border: .2vw inset aquamarine;
  border-radius: 0px .75rem .75rem .75rem;
  box-shadow: 0px .5rem 1.5rem -.5rem black;
}
.design-title1 {
  grid-area: 3 / 2 / span 1 / span 2;
  font-family: "Century Gothic", sans-serif;
  color: #fff!important;
  -webkit-text-fill-color: rgba(260, 260, 260, 1);
  font-weight: bolder;
  text-transform: lowercase;
  user-select: none;
  font-size: calc(40px + .5vmin);
  line-height: calc(1em + 0.3vh);
  letter-spacing: calc(.25em + .1vw);
  text-shadow: .1rem .1rem .75rem lightyellow;
  justify-content: center;
  align-items: center;
  animation: name 1.25s ease-in-out 0s;
  transition-duration: .35s;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
@keyframes name {
  0%   {opacity: 0;-webkit-text-fill-color:purple}
  100% {opacity: 1;-webkit-text-fill-color:white}
}
.design-title2 {
  grid-area: 2 / 2 / span 1 / span 1;
  color:black;
  align-self:top;
  font-family: inherit;
  text-align: center;
  text-transform: lowercase;
  font-weight:300;
  font-size: calc(12px + 0.175vw);
  line-height: calc(1em + 0.3333vw);
  letter-spacing: calc(.15em + .1vw);
  width:75%;
  word-break: break-all;
  overflow: hidden;
  margin-left: 25%;
  max-height: 2em;
  background-color: rgba(0, 255, 191,1);
  background-image: url("iron-grip.png");
  background-size: 10em 10em;
  padding-left: 1vw;
  padding-right: 1vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: .2vw inset aquamarine;
  border-right: none;
  border-radius: 100px 0 0 100px;
  box-shadow: 0px 15px 20px -5px black;
}
#topnav {
  font:inherit;
  display: grid;
  grid-template: 10vmin auto/7fr 86fr 7fr;
  width:100%;
  max-width:100vw;
  height: 15vh;
  padding: 0;
  margin: 0;
}
 #topnav ul {
   grid-column: 1/span all;
   grid-row: 1;
   display: flex;
   border: black inset;
   border-width: 5px 2px 2px 2px;
   padding: 0 7vw;
   justify-content:center;
   box-shadow: 0px 0px .75rem 0px;
   background: url("iron-grip.png"),white;
   background-size: 10rem 10rem,auto;
   -webkit-transition-duration:.35s;
   transition-duration: .35s;
 }
 #topnav li.nav-item{
   grid-row: 1;
   display: flex;
   flex-direction: row;
   list-style: none;
   z-index: 99;
   -webkit-transition-duration:.35s;
   transition-duration: .35s;
   padding: .1rem;
 }
 #topnav li .nav-link {
   cursor: pointer;
   display: flex;
   padding: .1rem;
   align-items: center;
   justify-content: center;
   text-align: center;
   background: white;
   width: 100%;
   text-transform: lowercase;
   font-size: 4vmin;
   color: black;
   border: 2px black solid;
   border-width: 2px 5px 5px 2px;
   border-radius: 12px 12px 12px 6px;
   -webkit-transition-duration: 0.35s;
   transition-duration: .35s;
 }
 #topnav .nav-link:hover, #dropdown-title:hover,#dropdown-title-btn:hover{
   color: white;
   background: black;
   border-color:white;
   border-width: 2px 5px 5px 2px;
   -webkit-transition-duration: 0.35s;
   transition-duration: .35s;
 }
 #topnav:before {
  grid-column: 1/span 1;
  grid-row: 2/span 1;
  content: "";
  height:0;
  width: 0;
  z-index: 99;
  margin: 0 auto 0 5vw;
  border-top: 3vw solid black;
  border-left:2vw solid transparent;
}
 #topnav:after {
  grid-column: 3/span 1;
  grid-row: 2/span 1;
  content: "";
  height:0;
  width: 0;
  z-index: 99;
  margin: 0 5vw 0 auto;
  border-top: 3vw solid black;
  border-right: 2vw solid transparent;
}
#dropdown-title {
  cursor: pointer;
  display: flex;
  width: 75%;
  font-size: 4vmin;
  justify-content: center;
  align-items: center;
  padding: auto;
  background: white;
  text-align: center;
  text-transform: lowercase;
  color: black;
  border: .5px black solid;
  border: 2px black solid;
  border-width: 2px 0px 5px 2px;
  border-radius: 12px 0px 0px 6px;
  -webkit-transition-duration: 0.35s;
  transition-duration: .35s;
}
#dropdown-title-btn {
  background: goldenrod;
  cursor: pointer;
  display: flex;
  width: 25%;
  font-size: 4vmin;
  justify-content: center;
  align-items: center;
  padding: .1rem;
  color: white;
  border: 2px black solid;
  border-width: 2px 5px 5px 0px;
  border-radius: 0px 12px 12px 0px;
  -webkit-transition-duration: 0.35s;
  transition-duration: .35s;
}
#dropdown {
  z-index: 98;
  list-style: none;
  background:url("iron-grip.png"), linear-gradient(to right,rgba(260,260,260,.25) 0%, rgba(260,260,260,.75) 10%, rgba(260,260,260,.75) 90%,rgba(260,260,260,.25) 100%);
  -webkit-background:url("iron-grip.png"), -webkit-linear-gradient(to right,rgba(260,260,260,.25) 0%, rgba(260,260,260,.75) 10%, rgba(260,260,260,.75) 90%,rgba(260,260,260,.25) 100%);
  background-size: 10em 10em,auto auto;
  box-shadow: 0 0 .75rem .05rem;
  border: none;
  border-radius: 12px;
  -webkit-transition-duration:.35s;
  transition-duration: .35s;
}
#dropdown a {
  cursor: pointer;
 z-index: 98;
 width: auto;
 display: flex;
 justify-content:center;
 align-self: stretch;
 align-items: flex-end;
 margin:.5em;
 background: white;
 text-transform: lowercase;
 font-size: 1.25em;
 color: black;
 border-radius: 12px 0px 12px 0px;
 box-shadow: 0px 0px 5px 1px black;
 padding: .5em;
 -webkit-transition-duration: 0.35s;
 transition-duration: .35s;
}
#dropdown a:hover {
  color:red;
  background-color: mistyrose;
  box-shadow: inset 0px 0px 1px 0px black;
  -webkit-transition-duration: 0.35s;
  transition-duration: .35s;
}
#topnav .active:first-child,#dropdown .dropdown-item.active {
  color: white;
  text-shadow: 1px 1px 8px lightyellow;
  background-image: url("iron-grip.png");
  background-size: 10em 10em;
  background-blend-mode:hard-light;
  background-color: dimgray;
  border-color: grey;
}
#dropdown-title:hover {
  box-shadow:none;
}
#topnav.sticky {
 position: fixed;
 z-index: 98;
 top: 1.9rem;
 width:100%;
 -webkit-transition-duration:.35s;
 transition-duration: .35s;
}
.stickytitle {
  display: flex;
  align-items: center;
  position: fixed;
  background-color: black;
  color: palegoldenrod;
  -webkit-text-fill-color: palegoldenrod;
  line-height: 0;
  z-index:99;
  font-size: 1rem;
  top: 0;
  left:0;
  margin: 0 5%;
  padding: 0 5%;
  height: 1.9rem;
  text-shadow: .12rem .12rem 0 red;
  box-shadow: 0px -10px 10px 1px black;
  -webkit-transition-duration:.35s;
  transition-duration: .35s;
}
#column-main {
  position:absolute;
  font:inherit;
  width:100%;
  max-width: 100vw;
  display: grid;
 grid-template:
 [splash] auto [splash-b] auto repeat(6, auto)/
 [l-gutter] 7fr [useless-l] 2fr [left] 40fr [c-gutter] 2fr [right] 40fr [useless-r] 2fr [r-gutter] 7fr;
  grid-gap: 2.5vh 0;
  justify-content: center;
  margin: 0 0 5vh 0;
  top:35vh;
 }
 #column-main:before {
   position: fixed;
   content:'';
   z-index: -2;
   top:0;
   left:0;
   -webkit-transition-duration:.15s;
   transition-duration: .15s;
   grid-column: l-gutter / span 1;
   grid-row: 1 / span 8;
   box-shadow: inset 0px 0px 20px 5px;
   background: linear-gradient(rgba(0,0,0,.5),rgba(0,100,100,.25),black);
   height: 100%;
   width:7vw;
 }
 #column-main:after {
  position: fixed;
  content:'';
  z-index: -2;
  top:0;
  right:0;
  -webkit-transition-duration:.15s;
  transition-duration: .15s;
  grid-column: r-gutter / span 1;
  grid-row: 1 / span 8;
  box-shadow: inset 0px 0px 20px 5px;
  background: linear-gradient(rgba(0,0,0,.5),rgba(0,100,100,.25),black);
  height: 100%;
  width:7vw;
  }
 #column-main hr {
   grid-column: 3 / span 3;
   background-image: linear-gradient(to right,rgba(0,100,100,1) 0%,aquamarine 20%, lightyellow 50%, aquamarine 80%,rgba(0,100,100,1) 100%);
   box-shadow: 0px 2px 1px 0px rgba(0, 0, 0,.5);
   border-top:1px white solid;
   border-radius: 20px;
   width: 100%;
   height: .5rem;
 }
 .card {
   grid-column: left/span 3;
   box-shadow:inset 0px 0px 1rem .5rem black;
   border:.5rem ridge dimgrey;
   border-radius:.75rem;
   display:flex;
   padding: .75rem;
   flex-direction: column;
   justify-content:center;
   background: url("mocha-grunge.png"), black;
   background-size: 5rem 5rem,auto;
   background-blend-mode:screen;
 }
.card-left, .card-right {
 font:inherit;
 -webkit-text-fill-color: rgba(260, 260, 260, 1);
 margin: 0;
 display:flex;
 flex-direction: column;
 padding: .5rem;
 border-radius: 2.5px;
 justify-content:center;
 background: url("mocha-grunge.png"), linear-gradient(rgba(0,0,0,.5),rgba(0,50,50,.5),black);
   -webkit-background: url("mocha-grunge.png"), -webkit-linear-gradient(rgba(0,0,0,.5),rgba(0,50,50,.5),black);
 background-size: 10rem 10rem,auto;
 background-blend-mode:screen;
 box-shadow: inset 0 0 .3rem .1rem black;
}
.card-left {
 grid-column: left/span 1;
}
 .card-left img {
   box-shadow: 0 0 1rem .1rem black;
   border:.25em solid black;
   border-radius: .5rem;
   max-height:33vh;
   max-width:30vw;
 }
 .card-left i {
   text-align: center;
   font-size: 1.5rem;
   margin:0 0 .5rem 0;
 }
.card-right {
 grid-column: right/span 1;
}
 .card-right h3 {
   margin: .5rem;
   font-size: 1.25rem;
 }
.general-link, .link {
  display: flex;
  font-size:1rem;
  justify-content: center;
  width: 66%;
  border: white solid;
  border-width: 0px 1px 4px 1px;
  border-radius: 8px;
  color: white;
  -webkit-text-fill-color: white;
  text-align: center;
  background-image: radial-gradient(rgba(0,0,0,0) 50%, rgba(55, 250, 150,.5) 100%);
  text-shadow: 3px 3px 5px rgba(55, 250, 150,.75);
  box-shadow: 0px -5px 8px 0px rgba(55, 250, 150,.75);
  padding: .15rem;
  margin: 2vh auto;
  }
  .link {width: 95%;}
  .linkCounter {
    position: relative;
    color: white;
    -webkit-text-fill-color: white;
    line-height: 1em;
    border: .1em rgba(260,260,260,1) solid;
    border-top: none;
    padding: .25em .75em .25em .75em;
    border-radius: 0px 0px 5px 5px;
    margin: -2vh auto auto auto;
    font-size: .66em;
    font-family: inherit;
  }
  .general-link:hover, .link:hover {
  color: rgba(200, 250, 0);
  -webkit-text-fill-color:  rgba(200, 250, 0);
  background-image: radial-gradient(rgba(0,0,0,.75) 0%, rgba(100, 100, 100,.25) 100%);
  border-color:rgba(200, 250, 0);
  border-width: 2px 1px 2px 1px;
  text-shadow:0px 0px 10px yellow;
  box-shadow: inset 0px 5px 5px 1px black;
  -webkit-transition-duration:.15s;
  transition-duration: .15s;
  }
.progress {
  align-self:flex-end;
  height: 1.75rem;
  background-color: rgba(0,0,0,0);
  box-shadow: inset 0px 0px 10px 1px rgba(100, 100, 100,1);
}
* {
  font:inherit;
  box-sizing: border-box;
}
button,a {
  all:unset;
 text-decoration: none;
  cursor: pointer;
}
kbd {
  background-color: dimgray;
}
body {
  margin:unset;
  overflow-x: hidden;
  font-family: "Century Gothic", Arial, sans-serif;
  font-size: calc(16.4px + 0.175vw);
  line-height: calc(1.5em + 0.3333vw);
  letter-spacing: calc(.09em + .1vw);
  background: url("wood.png"),antiquewhite;
  background-size:10em 100em,auto;
}
aside {
  font:inherit;
  display: flex;
  color:white;
  -webkit-text-fill-color: white;
  flex-direction: column;
  border-radius: 10px;
  background: url("mocha-grunge.png"), darkslategray;
  background-size: 10rem 10rem,auto;
  background-blend-mode:luminosity;
  padding: 1rem;
  margin: 1rem;
  line-height:1.5;
  width: 95%;
  box-shadow: 0px 0px 5px 2px black;
}
aside p {
  font-size: .8rem;
  margin: .5rem .75rem .5rem .75rem;
  padding: .05rem .75rem;
  border-left: 2px solid white;
  border-right: 2px solid white;
}
article {
  grid-column: left/span 3;
  border-radius: 5px;
  text-indent: 1rem;
  padding: 1rem;
  background: url("mocha-grunge.png"),lightcyan;
  background-size: 20rem 10rem;
  box-shadow: inset 0px 0px 5px 0px;
}
  #art-head {
    padding:0 1rem 5%;
  }
  article h3 {
    font-size: 2rem;
    padding: .5rem;
    font-weight: bold;
    border: .1rem rgba(0,0,0,1) solid;
    background-color: rgba(100,100,100,.25);
    border-radius: 5px;
  }
#expandtab {
  cursor:row-resize;
  display:flex;
  justify-content:center;
  width:75%;
  margin: auto;
  padding: 5px;
  border-top: 1px black solid;
  color:rgba(260,260,0,1);
  -webkit-text-fill-color: rgba(260,260,260,1);
}
  #expandtab:hover {
    color:black;
    -webkit-text-fill-color:black;
  }
#collapser1,#collapser2 {
  display:flex;
  font-size: 2rem;
  text-shadow: 0px 0px 15px dimgrey;
  transition-duration: .25s;
    -webkit-transition-duration: 0.25s;
}
#expandtab:hover #collapser1:before,
#expandtab:hover #collapser1:after {
  content: 'show';}
#expandtab:hover #collapser2:before,
#expandtab:hover #collapser2:after {
  content: 'hide';}
#expandtab:hover #collapser1:before,
#expandtab:hover #collapser1:after,
#expandtab:hover #collapser2:before,
#expandtab:hover #collapser2:after {
  font-size: 1rem;
  margin: unset 1rem;
}
#wordCounter1 {
  float: left;
  width:100%;
  margin-top: .25rem;
  font-size: .75rem;
}
h1 {
  grid-column: left/span 3;
 text-shadow: 3px 3px 3px grey;
 font-size: 2rem;
 font-weight: lighter;
 margin: 0 1rem .5rem 1rem;
 text-align:center;
 color:#fff!important;
 -webkit-text-fill-color: rgba(260, 260, 260, 1);
 letter-spacing:.15rem;
}
h2 {
 text-shadow: 3px 3px 3px grey;
 font-size: 2rem;
 margin-bottom: .5rem;
 text-transform: lowercase;
 color: rgba(260, 260, 260, 1);
 -webkit-text-fill-color: rgba(260, 260, 260, 1);
}

h3 {
 position:relative;
 text-shadow: 3px 3px 3px grey;
 border-radius: 25px;
 margin-bottom: unset;
 text-align: center;
 color: #fff !important;
 -webkit-text-fill-color: rgba(260, 260, 260, 1);
 letter-spacing: .2em;
 box-shadow: None;
}

h4 {
font-size: 1rem;
padding-top: .25rem;
 text-align: center;
 margin:0 1.5em;
 border: 2px black solid;
 border-top: none;
 border-radius: 0px 0px 5px 5px;
}

h5 {
  text-align:center;
 font-size: 1.15rem;
 color: black;
 letter-spacing: 1.25;
}

h6 {
 text-align: center;
 font-size: 1em;
 margin-top: .25em;
 font-weight:normal;
}
h6 a:hover {
 color:orange
}
#title {
  font-size: 2rem;
}
#buildfly {
  all:unset;
  grid-row: splash;
  grid-column: left/span 3;
  margin: auto;
  display: block;
  max-height: 66vh;
  max-width: 66vw;
  align-content: center;
  z-index: 0;
  border: .25rem aquamarine inset;
  box-shadow: .2rem .2rem 1.5rem .2rem aqua;
}
#artistic {
  all:unset;
  grid-row: splash;
  grid-column: left/span 3;
  display: block;
  max-height: 66vh;
  max-width: 66vw;
  margin: auto;
  align-content: center;
  z-index: 0;
  border: .25rem aquamarine inset;
  box-shadow: .15rem .15rem 1.5rem .15rem aqua;
}
.arrow-1 {
  grid-column: useless-l;
  color: aqua;
  -webkit-text-fill-color: aqua;
  font: inherit;
  font-size: 2rem;
}
.arrow-2 {
  grid-column: useless-r;
  color: aqua;
  -webkit-text-fill-color: aqua;
  font: inherit;
  font-size: 2rem;
}
#planimgs {
  grid-row: 5 / span 1;
  grid-column: left/span 3;
  flex-direction: column;
  background: url('natural-paper.png'),linear-gradient(to right,rgba(260,260,260,.75) 0%, rgba(200,100,0,.5) 10%, rgba(200,100,0,.5) 90%,rgba(260,260,2600.75) 100%);
  -webkit-background: url('natural-paper.png'),-webkit-linear-gradient(to right,rgba(260,260,260,.75) 0%, rgba(200,100,0,.5) 10%, rgba(200,100,0,.5) 90%,rgba(260,260,2600.75) 100%);
  background-size: 10em 10em,auto;
  box-shadow: inset 0 0 .3rem 0 black;
  max-height: 66vh;
}
#planimgs h1 {font-size: 2rem;}
#planimgs-grp {flex-direction: row;}
#planimgs-grp img {
  width:75%;
  display: block;
  max-height: 50vh;
}
#buttongroup {flex-direction: column;}
#button1 {
  display: flex;
  color:white;
  justify-content: center;
  width: 5rem;
  cursor: pointer;
  text-align: center;
  text-shadow: .25px .25rem .45rem black;
  text-transform: lowercase;
  letter-spacing: .15rem;
  font-size: 1rem;
  border: solid;
  border-color:  grey dimgray dimgray dimgray;
  border-width: .03rem .015rem;
  -webkit-transition-duration: 0.25s;
  transition-duration: .25s;
  border-radius: .75rem .75rem 0 0;
  }
  #button2 {
    display: flex;
    color:white;
    justify-content: center;
    width: 5rem;
    cursor: pointer;
    text-align: center;
    text-shadow: .25px .25rem .45rem black;
    text-transform: lowercase;
    letter-spacing: .15rem;
    font-size: 1rem;
    border: solid;
    border-color:  grey dimgray dimgray dimgray;
    border-width: .03rem .015rem;
    -webkit-transition-duration: 0.25s;
    transition-duration: .25s;
    border-radius: 0 0 .75rem .75rem;
    }
  #button1:hover,#button2:hover {
    color: rgba(200, 250, 0);
    text-shadow:0px 0px 10px yellow;
  }
.activate {
  box-shadow:inset 0px 5px 5px 1px black;
  background-image:radial-gradient(rgba(200,200,0,1) 50%, grey 95%);
  color: mintcream;
  -webkit-text-fill-color: mintcream;
  text-shadow: 2px 2px 1px darkorange;
  border: black solid;
  border-width: 4 2 1 1;
  -webkit-transition-duration: 0.25s;
  transition-duration: .25s;
}
.deactivate {
  background-image:radial-gradient(dimgray 50%, rgba(0,0,0,.5) 100%);
  color:mintcream;
  -webkit-text-fill-color: mintcream;
  box-shadow:0px 5px 5px 1px black;
  text-shadow: 2px 2px 1px purple;
  border:black solid;
  border-color:  grey dimgray dimgray dimgray;
  border-width: .03rem .015rem;
  -webkit-transition-duration: 0.25s;
  transition-duration: .25s;
}
#imgarray {
  grid-area: 7/left/span 1/span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("iron-grip.png"),linear-gradient(to right,rgba(0,100,100,.25) 0%,rgba(100,200,200,.25) 10%, rgba(100,200,200,.25) 90% ,rgba(0,100,100,.25) 100%);
  background-blend-mode:overlay;
  background-size: 10rem 10rem,auto;
  box-shadow: inset 0 0 1rem 0 black;
  width:100%;
  height:55vh;
  margin:0;
  border-radius: 5px;
  margin-bottom: 3rem;
}
#imgarray:hover #carrot1,#imgarray:hover #carrot2 {
  -webkit-transition-duration:.25s;
  transition-duration: .25s;
  font-size: 3rem;
  opacity: .75;
}
#imgarray .carousel-item {height: 60vh;}
#imgarray img {
  max-width:100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  touch-action: auto;
}
#imgarray .carousel-inner {
  height:90%;
  margin:0;
  padding: 0;
}
#imgarray .carousel-inner .carousel-item {
  height: 100%;
  width:100%;
  margin:0;
  padding: 0;
}
#carrot-cake {
  all:unset;
  position: absolute;
  grid-row: 6/ span 2;
  grid-column: left / span 3;
  width:100%;
  height: 100%;
  margin:0;
  padding: 0;
  z-index: 9;
  display: flex;
  flex-direction: row;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
#viewcap{
  align-self:flex-start;
  text-align: center;
  text-indent: 0;
  width:100%;
  flex-wrap: nowrap;
  color: #ffc107;
  -webkit-text-fill-color: #ffc107;
  font-family: inherit;
  font-size: 1.75em;
  letter-spacing: .2em;
  text-shadow: 2px 2px 2px black;
  -webkit-transition-duration:.7s;
  transition-duration: .7s;
}
.popover {
  color: black;
  -webkit-text-fill-color: white;
  font-weight: bold;
  font-family: inherit;
  font-size: 1em;
  font-variant: small-caps;
  letter-spacing: .1vw;
  background-color: transparent;
  text-shadow: 2px 2px 2px black;
  border:none;
  width: 100%;
  text-align: center;
  margin-top: .25em;
  white-space: nowrap;
}
#carrot1 {
  cursor: pointer;
  display: flex;
  text-align: left;
  align-self:center;
  align-items: center;
  color: #ffc107;
  -webkit-text-fill-color: #ffc107;
  opacity: 1;
  padding: .15em;
  font-size: 4em;
  line-height:50%;
  text-shadow: 2px 2px 2px;
  -webkit-transition-duration:.25s;
  transition-duration: .25s;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
#carrot2 {
  cursor: pointer;
  display: flex;
  text-align: right;
  align-self:center;
  align-items: center;
  color: #ffc107;
  -webkit-text-fill-color: #ffc107;
  opacity: 1;
  padding: .15em;
  font-size: 4em;
  line-height:50%;
  text-shadow: 2px 2px 2px;
  -webkit-transition-duration:.25s;
  transition-duration: .25s;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
#carrot1:hover,#carrot2:hover {
  text-shadow: 2px 2px 2px #ffc107;
  color: salmon;
  text-decoration:none;
  -webkit-text-fill-color: salmon;
  box-shadow: inset 0px 0px 5px 2px salmon;
  border-color:white;
  border-radius: 100px;
  opacity: 1;
  -webkit-transition-duration:.1s;
  transition-duration: .1s;
}
#carrot1:active,#carrot2:active {
  text-shadow: 2px 2px 2px salmon;
  animation-name: arrowbig;
  animation-delay:0s;
  animation-duration: .1s;
}
@keyframes arrowbig {
  0% {transform:scale(1)}
  50% {transform: scale(1.25)}
  100% {transform: scale(1)}
}
footer {
  z-index: 99;
  width: 100vw;
  max-height: 13vh;
  color: #fff !important;
  -webkit-text-fill-color: white;
  font:inherit;
  justify-content:center;
  align-items: center;
  text-align: center;
}
footer a:hover,.linked:hover img {
  color:orange;
  -webkit-text-fill-color: orange;
  text-decoration: none;
  cursor: pointer;
}
footer #dropup {
  font-size: .75rem;
  letter-spacing: .1rem;
  padding: auto;
  margin: auto;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
}
#dropup button{
  box-shadow: 0 0 .25rem 0 black;
  border-radius: 1rem 1rem 0 0;
  background: url("iron-grip.png"),black;
  background-size: 10rem 10rem,auto;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
}
#dropup button:hover {
  color: #fff !important;
  -webkit-text-fill-color: orange;
  background: url("iron-grip.png"),dimgray;
  background-size: 10rem 10rem;
}
#footbutton {
  display: flex;
  width: 20em;
  height:1.5rem;
  justify-content:center;
  align-items:center;
  font:inherit;
  line-height: inherit;
  flex-wrap: nowrap;
}
#footbutton i {
  font-size: 1rem;
  margin: auto;
}
#footbutton kbd {
  font-size: 1rem;
  background: url("iron-grip.png"),black;
  background-size: 10em 10em,auto;
  margin: auto;
  flex-wrap: nowrap;
}
#footer-dropdown {
  width: 75vw;
  border-radius: 15px;
  margin:0 12.5vw .45rem 0;
  background: url("iron-grip.png"),dimgray;
  background-size: 10rem 10rem;
  box-shadow: inset 0 0 1.5rem 0 black;
  color: aquamarine;
  -webkit-text-fill-color: aquamarine;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
}
.changecolor {
  color:aquamarine;
  -webkit-text-fill-color: aquamarine;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
}
.address::before {
  content:"521 Washington St #3, Hoboken, NJ 07030  ║ ";
}
.tel::before {
  content: "(202) 681-1138";
}
.email:before {
  content: "nterwin714@gmail.com";
}
.email:after {
  content: " ║ ";
}
.linked i{
  font-size: 1.25rem;
  vertical-align:middle;
}
.linked::after {
  content:"|nterwin714";
}
.ba-slider {
  all:unset;
  font:inherit;
  position:relative;
  display: flex;
  border: inset black;
  border-width:  .5vh .5vw .5vh .5vw;
  border-radius: 1rem;
  align-content: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  overflow: hidden;
}
.ba-slider img {
  display: block;
  height: 48vmin;
  width:100%;
  vertical-align: middle;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.resize {
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 48vmin;
  overflow: hidden;
}
.handle {
  left:50%;
  top:0;
  bottom:0;
  margin-left:-2px;
  display: flex;
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  width: .75rem;
  align-self:center;
  justify-content: center;
  background: radial-gradient(dimgray 0%,dimgray 25%,white 100%) aquamarine center no-repeat;
  background-size: 1em 10em,auto;
  border: .1vw white solid;
  border-top:2vh black solid;
  border-bottom:2vh black solid;
  box-shadow: 0 0 5rem 0 lightyellow;
}
.handle:hover {
  background-color: lightsalmon;
  border-color: salmon;
  box-shadow: 0px 0px 5rem 0px lightsalmon;
}
.handle:after,
.handle:before {
  cursor: pointer;
  align-self:center;
  color: aquamarine;
  -webkit-text-fill-color: rgba(127,255,212, 1);
  padding: 1rem;
  font-size: 4rem;
  text-shadow: .1rem .1rem .1rem white;
  -webkit-transition-duration:.25s;
  transition-duration: .25s;
}
.handle:before{content:"<";}
.handle:after{content:">";}
.draggable:before,
.draggable:after {
  color:yellow;
  -webkit-text-fill-color: rgba(127,255,212, 1);
  opacity:0;
  -webkit-transition-duration:1s;
  transition-duration: 1s;
}
.draggable:before {content:"<<";}
.draggable:after {content:">>";}
#morganmap {
  width: 100%;
	height: 60vh;
  padding: 0;
  margin: 0;
  z-index: 0;
  background: url("iron-grip.png"), radial-gradient(circle,rgba(100,100,0,.8) 50%, rgba(0,0,0,.95) 70%);
  -webkit-background: url("iron-grip.png"), -webkit-radial-gradient(circle,rgba(100,100,0,.8) 50%, rgba(0,0,0,.95) 70%);
  background-size: 25em 10em, auto auto;
  background-blend-mode:luminosity;
}
#morganmap-b {
height:60vh;
align-items:center;
justify-content: center;
width:100%;
grid-column:left/span 3;
padding:0;
overflow:hidden;
background: url("iron-grip.png"), radial-gradient(circle,rgba(100,100,0,.8) 50%, rgba(0,0,0,.95) 70%);
-webkit-background: url("iron-grip.png"), -webkit-radial-gradient(circle,rgba(100,100,0,.8) 50%, rgba(0,0,0,.95) 70%);
background-size: 25rem 10rem, auto auto;
background-blend-mode:luminosity;
}
#placeholder{
  z-index: 0;
  width:100%;
  max-height:100%;
  filter:blur(3px)contrast(50%);
}
#framebutton {
z-index: 1;
position:absolute;
}
svg > text  {
  fill:#fff!important;
  opacity: 1;
  fillOpacity:1;
  font-size: .8rem;
  font-weight: 700;
  letter-spacing: .25rem;
  word-break: keep-all;
  font-family: "Century Gothic",sans-serif;
  filter:url(#shadow);
}
.leaflet-top .leaflet-control-layers {
  font-size: .66rem;
  background-color: rgba(0,0,0,.25);
  border-radius: .75rem;
  padding: 1rem;
}
img.centerbtn {
  display: block;
  filter:contrast(500%)grayscale(1);
  width:1.75rem;
  height:1.75rem;
  background:#fff!important;
  border:.01rem grey solid;
  cursor:pointer;
  border-radius: .15rem;
}
.leaflet-bottom .leaflet-control-attribution {
	all:unset;
  line-height: .75rem;
  display: block;
  justify-content: center;
  text-align:center;
  font-size: .5rem;
	background: rgba(255, 255, 255, 1);
	padding: .2rem;
	border-radius: .5rem 0 0 0;
  width:60vw;
	}
.leaflet-control-attribution {
  all:unset
  display: flex;
	padding: 0;
  margin: 0;
}
